.hc-offcanvas-nav li.nav-back a, .hc-offcanvas-nav li.nav-close a {
    background: #2073b5;
    border-color: #2073b5;
    color: #fff;
}
.hc-offcanvas-nav li.nav-back a:hover, .hc-offcanvas-nav li.nav-close a:hover {
    background: #2073b5;
}
.banner .banner_bottom .button02 {
    border: 1px solid #2073b5;
    background-color: #2073b5;
}
.banner .banner_bottom .button02:hover, .pricing_section .price_group .owl-item:nth-child(3) .price_sect h2 {
    color: #2073b5;
}
.nav_bar {
    background-color: #2073b5;
}
.nav_bar .navbar-nav>li a.active, .nav_bar .navbar-nav>li a:focus, .nav_bar .navbar-nav>li>a:hover {
    color: #f19620;
    border-top-color: #2073b5;
}
li.menu-last-btn a:focus, li.menu-last-btn a:hover {
    color: #fff!important;
}
.b-9-box h3 i, .header .right .right_navi li:first-child a .fa, .store-order-container h2 {
    color: #f19620;
}
.nav_bar .megamenu .drow_menu h5:after {
    border-bottom: 2px solid #f19620;
}
.banner .left.mt-2 h3:after, .header .right .right_navi li.hover:hover a, .see-ofr-btn {
    background-color: #f19620;
}
.nav_bar .megamenu .register h1 {
    color: #f19620;
    border-bottom: 2px solid #f19620;
}
.footer .footer_col .button03, .pricing_section .price_group .owl-item:nth-child(3) .price_sect .bottom_sect .button03, .pricing_section .price_group .owl-item:nth-child(3) .price_sect ul.list li:before {
    background-color: #2073b5;
}
.get_started, .right-content .continue-row button.btn.btn-default {
    background-color: #f19620;
}
.get_started .button01:hover {
    color: #f19620;
    border-color: #f19620;
}
.domain-block-search .btn, .right-content .continue-row button.btn.btn-primary {
    background-color: #2073b5;
}
.domain-block-search .btn:hover {
    color: #2073b5;
    border: 1px solid #2073b5;
}
.features-option4 .features-col.active .img-box {
    background-color: #f19620;
}
.features-option4 .features-col.active:before, .features-option4 .features-col:hover:before {
    border-top: 1px solid #f19620;
    border-right: 1px solid #f19620;
}
.features-option4 .features-col.active:after, .features-option4 .features-col:hover:after {
    border-top: 1px solid #f19620;
    border-left: 1px solid #f19620;
}
.features-option4 .features-col.active .features-option4_border:after, .features-option4 .features-col:hover .features-option4_border:after {
    border-bottom: 1px solid #f19620;
    border-left: 1px solid #f19620;
}
.features-option4 .features-col.active .features-option4_border:before, .features-option4 .features-col:hover .features-option4_border:before {
    border-bottom: 1px solid #f19620;
    border-right: 1px solid #f19620;
}
.features-option3 .features-col.active:before, .features-option3 .features-col:hover:before {
    border-bottom: 1px solid #f19620;
}
.features-option3 .features-col.active:after, .features-option3 .features-col:hover:after {
    border-top: 1px solid #f19620;
}
.testimonials-1 .testimonials_box h2 {
    color: #2275b7;
}
.nav_bar .navbar-nav>li:last-child a {
    background-color: #f19620;
}
.nav_bar .navbar-nav>li a.active, .nav_bar .navbar-nav>li a:focus, .nav_bar .navbar-nav>li>a:hover {
    border-top-color: #f19620;
}
.features-option4 .features-col .svg path {
    fill: #f19620!important;
}
.features-option4 .features-col.active .img-box svg path {
    fill: #f19620;
    background: 0 0;
}
.features-option2 .features-col .img-box {
    background-color: transparent;
}
.features-col .img-box rect {
    fill: #f19620;
}
.features-col:hover .img-box rect {
    fill: #fff;
}
.price_list .price_grid:hover .price_box {
    background-color: #f19620;
}
.price_list .price_grid:hover .price_box:after {
    border-top: 31px solid #f19620;
}
.price_list .price_grid .button03 {
    background-color: #f19620;
}
.banner .banner_bottom h3:after {
    border-bottom: 2px solid #f19620;
}
.features-option2.wgs-prod-opt .features-col:hover .img-box {
    background-color: transparent;
}
.features-option2.wgs-prod-opt.features-option3 .img-box img {
    height: auto!important;
}
.domain .search_box .submit {
    background-color: #f19620;
}
.panel-mc-sso .btn-service-sso, .perfect-domain .button03 {
    background-color: #f19620;
}
.cls-3 {
    fill: #f19620!important;
}
.business-row .left .button03, .wgs-side-panels .panel-footer .btn, a.wgsLearnMore {
    background-color: #f19620;
}
#btnResendVerificationEmail, .btn-success, .btn-success:focus, .domaintransfer .tDomain .btn-transfer {
    background-color: #f19620;
    border: 1px #f19620 solid;
}
#myHeader #mainNavbarCollapse .open .nav-item .nav-link .fa, .email-verification .far, .email-verification .fas, .fas {
    color: #f19620;
}
.domaintransfer .tDomain {
    border: 3px solid #2275b7;
}
.cpanel_banner .left h2 span, .view-cart-items .btn-remove-from-cart i.fas.fa-trash, .view-cart-items a.btn.edit-from-cart i.fas.fa-edit, .view-cart-items i.fas.fa-trash {
    color: #f19620;
}
.button04 {
    background-color: #f19620;
    border: 1px solid #f19620;
    max-width: 242px;
    width: auto;
    font-size: 15px;
}
.banner3 .banner_info .button03 {
    max-width: 242px;
    width: auto;
}
.button04:hover {
    color: #f19620;
}
.pricing_section.sslpricing_section .price_top ul.months-ul li:nth-child(4) a {
    border-top: 0;
}
.pricing_section .price_top ul.months-ul li a span {
    color: #f19620;
}
.pricing_section .vat_col b {
    border-bottom: 2px solid #f19620;
}
.vps-hosting .vps-hosting-list .right h2 {
    color: #2476b8;
}
.dedicated_servers .left .filters_box .range_slider .irs-bar {
    background: #f19620;
}
.addons .right .products .product footer .product-pricing span, .right-content .clientarea .right .top h2 span, .table-container #tableDomainsList.table td a, .table-container .table td a {
    color: #2073b5;
}
.banner .left.mt-2 h2, .register-domain-banner2 h1, .right-content .top_banner_sections_ssl h2 {
    color: #2073b5;
}
.features-option2 .features-col:hover .img-box {
    background-color: #333;
}
.hosting_feature .hosting_sections .hosting_box span img path, .hosting_feature .hosting_sections .hosting_box span img polygon, .hosting_feature .hosting_sections .hosting_box span svg path, .hosting_feature .hosting_sections .hosting_box span svg polygon {
    fill: #f19620;
}
.hosting_feature .hosting_sections .hosting_box:hover {
    border-color: #f19620;
}
.hosting_feature .hosting_sections .hosting_box h3:before {
    background-color: #f19620;
}
.hosting_feature .hosting_sections .hosting_box:hover span {
    background-color: #f19620;
}
.clientarea .left ul.side_menu>li:first-child>a {
    background-color: #f19620;
    color: #fff;
}
.clientarea .left ul.side_menu>li:first-child>a:after {
    border-left: 25px solid #f19620;
}
.supportticketsubmit-steptwo .waves-effect {
    background-color: #f19620!important;
}
#openTicketSubmit {
    background-color: #f19620;
}
.side_menu li:nth-child(1) .lficnmn {
    color: #1a649e;
}
.c-support-btn .button03, .register-domain-section .right .search_domain .search_domain_in .btn {
    background-color: #f19620;
}
.register-domain-section .add_web_hosting .box .button01, .right-content .product-green-container .btn-success {
    background-color: #f19620;
    border: 1px #f19620 solid;
}
.toll-free {
    background-color: #f19620;
}
.toll-free .toll-free-col span {
    color: #fff;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .btn-checkout {
    text-align: center;
    width: 100%;
    padding: 12px 0;
}
#applyPromoDiv button.btn.btn-block {
    font-size: 12px;
}
.register_page .right>h1 span {
    color: #f19620;
}
.register_page .personal_information_form .button03 {
    background-color: #f19620;
}
.register_page .right .nav li a.active {
    color: #f19620;
    border-bottom-color: #f19620;
}
.register_page .nav-link:hover {
    color: #f19620!important;
    border-bottom: 3px solid #f19620!important;
}
.providerPreLinking {
    display: inline-block;
    margin-top: 25px;
}
.register_page .min_box .register_tab .nav li.active a {
    color: #f19620;
    border-color: #f19620;
}
.register_page .min_box .register_tab .nav li a {
    border-bottom: 3px solid #fdc6b3;
}
.clientarea .right .top h2 span {
    color: #f19620;
}
.wgs-submit-button {
    background-color: #f19620;
}
.wgs-submit-button:hover {
    background-color: #f19620;
}
.knowledgebaseDiv .top_searchbar {
    background: #2073b5;
}
.knowledgebaseDiv .top_searchbar .btn {
    background-color: #f19620;
}
.price_list .price_grid .price_grid_last {
    background-color: #f19620;
}
.title_box5 {
    color: #f19620;
    border-color: #f19620;
}
.banner3 .banner_info .button03 {
    background-color: #f19620;
}
.banner .banner2 h1 span {
    color: #2073b5;
}
.banner .banner2 .button02 {
    border: 1px solid #f19620;
    background-color: #f19620;
}
.banner .banner2 .button02:hover {
    color: #f19620;
}
.about-us-banner .left h2 {
    color: #2073b5;
}
.see-our-story-about .abt-frst-row h4 span {
    color: #f19620;
}
.wetackcareforupgrade .maintenance-inner-text-row h4 span {
    color: #f19620;
}
.wetackcareforupgrade .maintenance-inner-text-row h4 span {
    color: #2073b5;
}
.great-service .great-service-row h2 span {
    color: #2073b5;
}
.frequently-questions .frequently-questions-row h2 span {
    color: #f19620;
}
.frequently-questions .frequently-questions-row .accordion-container-main .current .card-header a {
    color: #f19620;
}
.ssl-banner .left h2 {
    color: #f19620;
}
.ssl-banner .left h3:after {
    background-color: #f19620;
}
.inner-term-domain-page h3:after {
    border-bottom: 4px solid #f19620;
}
.clientarea .left ul.side_menu>li:first-child>a {
    background-color: #f19620;
}
.messagesicn {
    color: #f19620;
}
.search_opt1 .btn {
    background-color: #f19620;
}
.search_opt1 .btn:hover {
    border: 1px solid #f19620;
    color: #f19620;
}
.support_tickets .regis .input-group-btn .btn {
    background-color: #f19620;
}
.support_tickets .support_tickets_col .top:after {
    border-bottom: 4px solid #f19620;
}
.right-content .announcements .view_ticket_box .label-warning, .right-content .client_mass_payment_page .manage_payments .invoice-title, .support_tickets .activ .text-domain, .support_tickets .recen .label {
    color: #2073b5;
}
.support_tickets .regis .panel-title {
    color: #f19620;
}
.clientareadetails .marketing-email-optin .bootstrap-switch {
    background: #f19620;
}
.clientareadetails .btn-primary, .clientareadetails .btn-primary:focus, .clientareadetails .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f19620;
    border: 1px #f19620 solid;
}
.cardInfoDiv h3:after {
    border-bottom: 4px solid #f19620;
}
.cardInfoDiv .btn-primary {
    background-color: #f19620;
    border: 1px #f19620 solid;
}
.slick-next:before, .slick-prev:before {
    color: #f19620!important;
}
#order-standard_cart .domain-input-group .btn-primary {
    background: #f19620;
}
.domainResultsWithProducts li .btn-add-to-cart {
    background-color: #f19620!important;
}
#btnDomainContinue {
    background-color: #f19620!important;
}
#order-standard_cart .sub-heading span, #order-standard_cart .sub-heading-borderless span {
    color: #2073b5!important;
}
body #btnCompleteProductConfig {
    border: 1px solid #f19620;
    background: #f19620;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .btn-checkout {
    background: #f19620;
    border: 1px solid #f19620;
}
#order-standard_cart .viewCartDiv .view-cart-items .item .btn-remove-from-cart {
    border: 1px solid #f19620;
}
.addons .right .products .product footer .btn-success {
    background-color: #f19620;
    border: 1px solid #f19620;
}
.addons .right .products .product footer button.btn.btn-success.btn-sm .fa, .fas {
    color: #fff;
}
.register-domain-section .browse_extensions ul.nav a.active {
    border-top: 4px solid #f19620;
    color: #f19620;
}
.register-domain-section .add_web_hosting .box .button01:hover {
    color: #f19620;
}
.announcements .view_ticket_box .top:before {
    border-bottom: 4px solid #f19620;
}
.announcements .view_ticket_box .label-warning {
    color: #f19620;
}
.knowledgebaseDiv .inner_bx_area i {
    color: #fff;
    background-color: #f19620;
}
.knowledgebaseDiv .inner_bx_area h4:hover {
    color: #f19620;
}
.right .client_download_page .shared-hosting .download_searchbar {
    background: #f19620;
}
.right .client_download_page .shared-hosting .download_searchbar .btn {
    background-color: #f19620;
}
.right .client_download_page .shared-hosting .download-popular-wgs .download-box-div i {
    color: #fff;
    background-color: #f19620;
}
.right .client_download_page .shared-hosting .download-popular-wgs .download-box-div .downloads-link-wgs ul li a i {
    color: #f19620;
}
#ticketReply {
    border: solid 1px #f19620;
    color: #f19620;
}
.view_ticket_col .shared-hosting .panel.panel-info {
    border: solid 1px #f19620;
}
.view_ticket_col .shared-hosting h3.panel-title i {
    color: #f19620;
}
.view_ticket_col .shared-hosting .view_ticket_box .top:before {
    border-bottom: 4px solid #f19620;
}
.viewticket .waves-effect {
    background-color: #f19620!important;
}
.client_mass_payment_page .manage_payments .invoice-title, .right-content .alert-warning {
    color: #f19620;
}
.client_mass_payment_page .manage_payments .top-bars.manage_pay_top_bar:before {
    border-bottom: 4px solid #f19620;
}
.fas, .support_tickets .fa {
    color: #f19620;
}
.support_tickets .support_tickets_col .panel-title i {
    color: #f19620;
}
.clientarea .left ul.side_menu>li.active>a {
    color: #f19620;
}
.dedicated_servers .right .results_box .col1 .button02, .right-content .ssl_frm_content .btn.btn-primary {
    background-color: #f19620;
}
.clientarea .left ul.side_menu>li.active>a::before {
    color: #f19620!important;
}
#mainNavbarCollapse .btn.btn-default.domain-search-bn, .submit_your_inquiry .left-contact-sec .size-product-des a.sales-btn {
    background: #f19620;
}
#mainNavbarCollapse .red-sp-d, .submit_your_inquiry .left-contact-sec .size-product-des h3 {
    color: #f19620;
}
.choose-more-product .col-sm-2:nth-child(1) .more-product-col {
    border-bottom: 3px solid #f19620;
}
.pricing_section .price_group .owl-item .price_sect {
    border-top: 2px solid #f19620;
}
.choose-more-product .more-product-col {
    border-bottom: 3px solid #2073b5;
    padding: 14px 5px;
}
.button03 {
    background-color: #2073b5;
}
.button03:hover {
    background-color: #2073b5;
}
.pricing_section .price_group .owl-item .price_sect h2 {
    color: #708096;
}
.register-domain-section .add_web_hosting .col-sm-6:last-child .button01:hover {
    color: #f19620;
}
.register-domain-section .add_web_hosting .col-sm-6:last-child .button01 {
    background-color: #f19620;
    border: 1px solid #f19620;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd #applyPromoDiv .btn-block {
    background: #f19620;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .total-due-today .amt {
    color: #2073b5;
}
#order-standard_cart .viewCartDiv #btnEmptyCart {
    color: #f19620;
}
#order-standard_cart .viewCartDiv #btnEmptyCart {
    border: 1px solid #f19620;
}
#order-standard_cart .viewCartDiv .view-cart-items .item .edit-from-cart {
    border: 1px solid #f19620;
    color: #f19620;
}
.clientareaproductdetails #tabOverview {
    margin-top: 20px;
}
.clientareaproductdetails .btn-default, .clientareaproductdetails .btn-primary {
    background-color: #f19620;
    border: 1px #f19620 solid;
}
#btnCreateLoader, .btn-print-inv i {
    color: #fff;
}
.shared-hosting .left .personal_section h2 {
    color: #2073b5;
}
.configureProductDiv .info-text-sm a, .configureProductDiv .order-summary .total-due-today .amt {
    color: #2073b5;
}
#order-standard_cart .configureDomainsBtn, body #order-standard_cart .checkoutDiv #btnCompleteOrder, body #order-standard_cart .checkoutDiv .already-registered .btn {
    background: #f19620;
    border: 1px solid #f19620;
}
body #order-standard_cart .checkoutDiv .showMarketingEmail .bootstrap-switch {
    background: #f19620;
}
.btn-print-inv:hover {
    background: #f19620;
}
.btn-download-inv, .btn-invoice, .btn-print-inv {
    background: #f19620;
    border: 1px solid #f19620;
}
.btn-download-inv:hover {
    background-color: #fff;
    color: #f19620;
}
.btn-download-inv:hover i {
    color: #f19620;
}
.btn-invoice {
    color: #fff;
}
.btn-invoice a:focus, .btn-invoice a:hover {
    color: #f19620;
    background-color: #fff;
    text-decoration: none;
}
.inv-inner-con {
    border: 1px solid #f19620;
}
.transactions-container.small-text table.table.table-condensed td.text-right {
    border: 1px solid #f19620;
    border-right-color: transparent;
}
.transactions-container.small-text table.table.table-condensed tbody tr:last-child td.text-center {
    color: #f19620;
    border: 1px solid #f19620;
    border-left-color: transparent;
}
.table-container .table td .status {
    color: #f19620;
    border: 1px solid #f19620;
}
.block-5-btm a, .submit_your_inquiry .left-contact-sec h4, .table-container .dataTables_paginate .pagination li.active a, i.fa.fa-reply.ticket-customer-reply {
    color: #f19620;
}
.table-container .table td .status:hover {
    background: #f19620;
    color: #fff;
}
.choose_section .tab li a {
    border-right: 2px solid #2879b9;
    background-color: #2073b5;
    border-bottom: 3px solid #2073b5;
    font-size: 13px;
    padding: 20px;
}
.choose_section .tab li a.active {
    color: #2073b5;
}
.choose_section .cls-1 {
    stroke: #fff!important;
}
.choose_section .cls-2 {
    fill: #2073b5!important;
}
.choose_section .tab li a.active svg .cls-1 {
    stroke: #2073b5!important;
}
.choose_section .tab li a.active:after {
    border-top: 9px solid #2073b5;
}
.choose_section .tab li a.active img path, .choose_section .tab li a.active svg path {
    fill: #2073b5;
}
.dedicated-server .dedicated_box .dedicated_box_col .button02, .dedicated-server .dedicated_box .dedicated_box_col .gol, .pricing_section .custom_tabs {
    background-color: #f19620;
}
.pricing_section .custom_tabs .tab li a {
    border-right: 1px solid #f19620;
}
.banner .big_col .big_col_in {
    background: #2073b5;
}
.banner .big_col {
    border: 2px solid #2073b5;
}
.banner-bottombar {
    background-color: #f19620;
}
.technical-specifications {
    background-color: #2073b5;
}
.technical-specifications .cols span {
    background-color: #2073b5;
}
.technical-specifications .cols h3 {
    color: #2073b5;
}
#order-standard_cart .registrationPeriod .col-sm-6 .button03 {
    background-color: #f19620;
}
.supportticketsubmit-steptwo .up-r-btn button.btn.btn-default.btn-block {
    background: #2073b5;
    color: #fff;
}
.fas, .supportticketsubmit-steptwo .up-r-btn button.btn.btn-default.btn-block .fa {
    color: #fff;
}
a.cancel-btn-wgs {
    background-color: #2073b5;
}
.marketgoo .navs_tab_ssl_sec {
    background-color: #f19620;
}
.landing-page.marketgoo .plan.marketgoo_pro .header h4 {
    color: #2073b5;
}
a.cancel-btn-wgs:hover {
    background-color: #f19620;
}
.about-why-choose-us, .bandwidth, .price_list, .tlds {
    background: #2073b5;
}
.pricing_section .price_group .price_sect ul.list li:before, .right-content .pricing_section .price_group .price_sect ul.list li:before {
    background-color: #f19620;
    -webkit-mask-image: url(../../images/layouttwo/check.svg);
}
.customers .owl-item.active .customers_box h2 {
    color: #2073b5;
}
.customers .owl-item.active .customers_box img {
    border-color: #f19620;
}
.ratinginner>img {
    width: 180px;
}
.ratinginner img.img.star-im {
    width: auto;
}
.login-side-image, .register-side-image {
    background-color: #c9dae8;
}
body .landing-page.marketgoo .plan .header .best-value {
    background-color: #2073b5;
}
.someclass .cls-1, .someclass .cls-2 {
    fill: #15b26!important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    background: #f19620;
}
.features-option2.features-option3 .features-col:hover .img-box {
    background-color: transparent;
}
.frequbntly_asked .question_answers>span, .register_page .right>h1 span {
    color: #2073b5;
}
.cls-1, .cls-2 {
    fill: #f19620;
}
img.star-im {
    width: 120px;
}
.cpanel_banner.ssl-banner {
    padding-bottom: 0;
}
.testimonials-1 .testimonials_box h2 span {
    color: #292929;
}
.free-trial .free-trial-col h2, .right-content .landing-page.sitelock .top_banner_sections_ssl h2 {
    color: #2073b5;
}
.cpanel_banner.ssl-banner .button04 {
    margin-top: 0!important;
}
.cpanel_banner.ssl-banner ul li strong {
    padding-right: 30px;
}
.col-sm-2.hidden-xs.cartAction i, .domain-available .price, .domain-available strong, .domainResultsWithProducts .domain-price .price {
    color: #2073b5;
}
#order-standard_cart .configureDomainsDiv .panel-addon .panel-add, .domain-available .button01 {
    background-color: #f19620;
}
.configureProductDiv .left .personal_section ul li:before {
    background-color: #f19620;
}
.register-domain-section .right .domain_row .domain_colos {
    margin-bottom: 20px;
}
.domain_table1 .button01, .hostx-container-psw .button03 {
    background-color: #f19620;
}
.alert-danger {
    clear: both;
}
div#paymentGatewaysContainer {
    margin-bottom: 10px;
    display: inline-block;
}
.certificate .right .button03, .right-content .landing-page.ssl .ideal-for.dv i, .right-content .landing-page.ssl .ideal-for.ev i, .right-content .landing-page.ssl .ideal-for.ov i {
    color: #f19620;
}
.best-vps-server {
    background-color: #2073b5;
}
.dedicated_servers .right .results_box .col1 .sata_button {
    color: #f19620;
    border: 1px solid #f19620;
}
.dedicated_servers .right .results_box .col1 .sata_button:hover, .landing-page .featur-stand-bx:hover::after {
    background-color: #f19620;
}
.why-choose {
    background: #2073b5;
}
.features-option2 .features-col:hover .img-box {
    background-color: #f19620;
}
.landing-page .navs_tab_ssl_sec, .price_table_ssll .btn.btn-block.buy_pricing_btn {
    background-color: #f19620!important;
}
.dedicated-server {
    background: #2073b5;
}
.dedicated-server .owl-controls .owl-next {
    background-color: #fff;
}
.dedicated-server .owl-controls .owl-prev {
    background-color: #fff;
}
.features-option2 .features-col .img-box .box-svg path {
    fill: transparent!important;
    stroke: #2073b5!important;
}
.features-option2 .features-col .img-box img path, .features-option2 .features-col .img-box svg path {
    fill: #2073b5;
}
.features-option2 .features-col .img-box svg path {
    fill: #2073b5;
    stroke: transparent;
    stroke-width: 2px;
}
.free-trial {
    background: #efefef;
}
.banner .big_col h5 {
    color: #000;
}
.banner .banner_bottom h3 {
    color: #000;
}
.cls-1 {
    stroke: none!important;
}
.header .right .right_navi li .dropdown-menu a:focus, .header .right .right_navi li .dropdown-menu a:hover, .vps-top h3::after {
    background-color: #f19620;
}
.domainResultsWithProducts .spotlight-tld .btn-add-to-cart {
    border: 1px solid #f19620!important;
}
.progress-bar {
    background-color: #f19620;
    min-width: 10%}
.domain-renewals #domainRenewals .domain-renewal .btn-add-renewal-to-cart, .domain-renewals .order-summary .orderSummaryCd .btn-primary {
    background: #f19620!important;
    border: 1px solid #f19620!important;
}
.domain-renewals #domainRenewals .domain-renewal h3 {
    color: #f19620!important;
}
.alert.alert-warning.info-text-sm {
    color: #131212!important;
}
.mc-promos.viewcart .mc-promo {
    background-size: cover!important;
}
ul.nav.nav-tabs.nav-tabs-overflow li.active fas {
    color: #f19620!important;
}
div#SitelockLogin .panel-body img {
    width: auto;
}
.frequently-questions .frequently-questions-row .accordion-container-main .card:before, .frequently-questions .frequently-questions-row .accordion-container-main .current:before, .vps-btm h2, .wgs-question-div span.arrow .fas {
    color: #f19620;
}
.btn.btn-block.buy_pricing_btn, .vps-btm a.choose-btn {
    background-color: #f19620!important;
}
#tableDomainsList_wrapper .fa, #tableDomainsList_wrapper .fas {
    color: #f19620;
}
.icon-img {
    background: url(../../images/layouttwo/sprite-icon-img.png);
    background-repeat: no-repeat;
}
.testimonials-1 .testimonials_box p:after {
    background-image: url(../../images/layouttwo/arro.png);
}
.domainResultsWithProducts .suggested-domains .panel-footer.more-suggestions.text-center a#moreSuggestions, .live-btn {
    background-color: #2073b5;
}
.dedicated-server .packages a {
    color: #34c4fb;
}
.btn-c, .wgs-alert-invc .btn, body .landing-page.marketgoo .plan .btn-signup {
    background-color: #2073b5;
    border-color: #2073b5;
}
#mainNavbarCollapse .red-sp-d, html body .landing-page.ssl a.help-me-choose {
    color: #2073b5;
}
.navs_tab_ssl_sec .nav li.active::after {
    border-top: 9px solid #f19620;
}
.clientareadetails .btn-default,  .clientareaproductdetails input.btn.btn-default, .landing-page .innr_bx_lastsec .btn, .wgs-button-gen-pwd, .wgs-cancel-button {
    background-color: #2073b5;
    border-color: #2073b5;
}
.submit_your_inquiry .left-contact-sec .size-product-des a.live-chat-con, .wgs-circle-name span {
    background-color: #2073b5;
}
.wid-level .wgs-a-btn a {
    background-color: #f19620;
    border-radius: 0;
}
.clientareaemails .btn-sm {
    border-color: #f19620;
    color: #f19620;
}
#tableDomainsList .text-success {
    color: #2073b5!important;
}
.term-domain_banner.register-domain-banner2 h1 {
    color: #fff;
}
.vps-top {
    border-color: #eee;
}
.pricing_section .price_group .owl-item:nth-child(3) .price_sect {
    border-color: #2073b5;
}
.submit_your_inquiry .left-contact-sec .tab-left-contact .tab-active {
    border-color: #f19620!important;
}
#order-standard_cart .register-domain-section .tooltip-inner {
    background-color: #191919;
}
.nav_bar h2.tld-list-show-price {
    border-bottom: 2px solid #f19620!important;
    padding-bottom: 4px;
}
.modal-dialog .btn.btn-primary.dismiss-yes {
    background-color: #f19620;
    border-color: #f19620;
}
.modal-dialog .dismiss-no {
    background-color: #2073b5;
    border-color: #2073b5;
}
.modal-dialog .modal-header i {
    color: #f19620;
    border-color: #f19620;
}
.right-content .landing-page .pricing-item .header h4, .right-content .landing-page.codeguard .strong-green span, .right-content .landing-page.sitelock .features .far, .right-content .landing-page.sitelock .features .fas, .right-content .landing-page.sitelock .plan:hover h4 {
    color: #f19620;
}
.right-content .landing-page.sitelock .plan:hover, .right-content .pricing-item:hover {
    border-color: #f19620;
}
.clientareaemails .btn-sm:hover, .right-content .innr_bx_lastsec, .right-content .landing-page .get-started .btn-order-now, .right-content .landing-page.codeguard .order-btn, .right-content .landing-page.sitelock .plan:hover .new_mothly-text, .right-content .landing-page.sitelock .plans .plan .btn, .right-content .landing-page.sitelockvpn .btn-start, .right-content .pricing-item .btn.btn-primary.btn-block.btn-signup, .right-content .pricing-item:hover .price_grid {
    background-color: #f19620;
}
.right-content .landing-page.sitelock .plan:hover .new_mothly-text::after, .right-content .pricing-item:hover .price.price_grid:after {
    border-top: 31px solid #f19620;
}
.btn.btn-default.cycle-change.active {
    background-color: #fff!important;
    border-top: 3px solid #f19620!important;
}
.right-content #howitworks .nav.nav-tabs .active {
    border-color: #f19620;
}
.right-content #howitworks .nav.nav-tabs .active a {
    color: #f19620;
}
.landing-page.codeguard .order-imgs embed {
    filter: invert(1);
}
.landing-page.codeguard .feature .icon embed, .landing-page.codeguard .overview-features .container .images-box embed {
    opacity: .8;
    filter: brightness(.1);
}
.upgrade .products .product .btn {
    background-color: #f19620;
}
.upgrade .products .product .header {
    background-color: #2073b5;
}
.wgs-question-div .panel-heading {
    border: 2px solid #f19620;
}
.frequbntly_asked1 .question_answers span svg path {
    fill: #f19620!important;
}
.banner .left h2 span {
    color: #000;
}
.loader-wrapper {
    background: rgba(255, 255, 255, .8) url(../../images/layouttwo/loader.gif) 50% 50% no-repeat;
}
.hx_webhosting_plans>.col-md-4:hover .hx_wb-hostprice .txt.value, .nav_bar .megamenu .register h2 {
    color: #f19620;
}
#mainNavbarCollapse .container-domain .row {
    background: url(../../images/layouttwo/background-img.png);
    background-size: cover;
}
.ssl-effect-site .ssl-effect-site-row ul li {
    list-style-image: url(../../images/layouttwo/li-about-img.png);
}
.tax-up-btn {
    border: 1px solid #f19620;
    background: #f19620;
}
.hx_webhosting_plans>.col-md-4:hover .hx_buybtn a, .tax-up-btn:hover {
    background: #f19620;
}
.wgs-button-gen-pwd:hover {
    background-color: #1a6dae;
    border-color: #1a6dae;
}
#frmGeneratePassword button#btnGeneratePasswordInsert, #frmGeneratePassword button.btn.btn-default.btn-sm.wgs-submit-button, .btn.btn-success.open-modal.twofa-config-link:hover, .pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect .button03, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect .button03, .wgs-submit-button:disabled, .wgs-submit-button[disabled]:hover, td.action-td-cls .btn-set-default {
    background-color: #f19620;
    border-color: #f19620;
}
.pricing_section .price_group .price_sect ul.list li:before, .right-content .pricing_section .price_group .price_sect ul.list li:before, .wgs-cancel-button:hover {
    background-color: #1a6dae;
}
.clientareadetails #subacct-container .btn-check-all, .secure_col .secure-box .secure-box1, button#btnSubmit {
    background-color: #f19620;
    border: 1px solid #f19620;
}
button#btnResendVerificationEmail, button.btn.btn-default.btn-sm .btn-resend-verify-email {
    color: #fff;
}
.clientareaemails .btn-resend-verify-email {
    color: #fff;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect .button03:hover, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect .button03:hover {
    background-color: transparent;
    border-color: #f19620;
    color: #f19620;
}
@keyframes shadow-pulse {
    0% {
    box-shadow: 0 0 0 0 rgb(241, 91, 38, .7);
}
100% {
    box-shadow: 0 0 0 20px transparent;
}
}.price_list .footsorthfirstbox p {
    color: #9e9d9d;
}
#myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a, .business-row .left .button03:focus, .button04:focus, .get_started h1, .hx_webhosting_plans .hx_buybtn a:hover, .nav_bar .hostx-dropdown:last-child .megamenu .learn_btn, .navbar-expand-lg .navbar-nav .nav-link, .perfect-domain .button03:focus, .price_list .price_grid .button03:focus, .price_list h2, .price_list p, .product-green-container .btn-success:hover, .table-container #tableInvoicesList td.sorting_1 .status:hover span.textblack {
    color: #fff;
}
#alertOverdueInvoice, #sliderSpotLight .owl-controls .owl-next::after, #sliderSpotLight .owl-controls .owl-prev::before, #sslDetail h4 .fa-chevron-down::before, #tableEmailsList tr td input.btn.btn-info.btn-sm:active, #tableInvoicesList td.sorting_1 span.textblack, .alert.alert-danger.checkout-error-feedback, .block2-cont h2, .button04:hover, .clientareaproductdetails .nav-tabs li a:hover i, .clientareaproductdetails .nav-tabs li.active a i, .clientareaproductdetails .tab-content .product-details .request, .domainResultsWithProducts .spotlight-tld .btn-add-to-cart span, .hx-getstart-btn, .hx_buybtn a, .hx_plans-find a, .hx_webhost-list li span i, .hx_webhost-list li:first-child, .hx_webhosting_plans>.col-md-4:nth-child(2) .hx_wb-hostprice .txt.value, .landing-page .content-block .learn_heading_text, .landing-page.ssl .detailed-info .panel-body h4, .pricing_section .price_group .owl-item:nth-child(2) .price_sect h2, .pricing_section .price_group .owl-item:nth-child(4) .price_sect h2, .register-domain-section .right .domain_row .domain_colos .small-button, .register-domain-section .right .domain_row .domain_colos:nth-child(1) h2, .register_page .right .nav li a.active, .unpaid, body .landing-page.ssl .detailed-info .panel-heading h4 i, body .store-order-container h2, button.btn.btn-primary.wgs-submit-button.btn-recaptcha:focus {
    color: #f19620;
}
.hx_webhosting_plans .hx_buybtn a:hover, .hx_webhosting_plans>.col-md-4:nth-child(2) .hx_buybtn a, .standout .featur-stand-bx:hover::before {
    background: #f19620;
}
.domaintransfer .tDomain .btn-transfer:active, .domaintransfer .tDomain .btn-transfer:focus, .hx-getstart-btn, .right .domain_detail_page .shared-hosting #tabNameservers .alert-info, .right .domain_detail_page .shared-hosting .wgs-alter-info-cls .alert-info, body #sslDetail li.wgs-ssl-li-cls .btn.btn-success.btn-block {
    border: 1px solid #f19620;
}
.competitive-upgrade-promo a.learn_ssl_btns, .domaintransfer .tDomain .btn-transfer:active, .domaintransfer .tDomain .btn-transfer:focus, .frequbntly_asked1 .top h5:before, .hx-getstart-btn:hover, .hx_description ul li::before, .hx_plans-find a:hover, .nav_bar .megamenu .learn_btn:active, .pricing_section .price_group .owl-item:nth-child(2) .price_sect ul.list li:before, .register-domain-section .right .domain_row .domain_colos .small-button:hover, .right-content .landing-page.ssl .validate_level .item .btn, body #sslDetail li.wgs-ssl-li-cls .btn.btn-success.btn-block, body .continue-row button.btn.btn-default:hover, body .product-green-container .btn-success:hover {
    background-color: #f19620;
}
.features-option2 .features-col:hover .img-box svg path {
    stroke: #fff;
}
.features-option2 .features-col:hover .img-box .box-svg path {
    stroke: #fff!important;
}
.features-option2 .features-col .img-box svg .cls-2, .features-option2 .features-col .img-box svg .cls-2 tspan {
    fill: #2073b5;
}
.features-option2 .features-col:hover .img-box svg .cls-2, .features-option2 .features-col:hover .img-box svg .cls-2 tspan {
    fill: #fff;
}
#frmManagePaymentMethod a.btn.btn-default.btn-sm, .col-xs-12.main-content a.btn.btn-primary, .md-header.btn-toolbar button.btn-sm.btn.btn-primary, .secure_col .secure-box .secure-box1:nth-child(2), td.action-td-cls .btn-edit {
    background: #2073b5;
    border-color: #2073b5;
}
#sslDetail .help-me-choose .btn-primary, .pricing_section .price_group .price_sect:nth-child(2) ul.list li:before, .pricing_section .price_group .price_sect:nth-child(3) ul.list li:before, body .landing-page.ssl .competitive-upgrade-promo, body .new_ssl_sect {
    background-color: #2073b5;
}
td.action-td-cls .btn-edit:hover, td.action-td-cls .btn-edit:hover i {
    background: 0 0;
    color: #17494d;
    border-color: #17494d;
}
.clientareadetails .mrg18 .btn-danger {
    background-color: #424242;
    border-color: #424242;
}
#tableEmailsList tr td input.btn.btn-info.btn-sm:active {
    box-shadow: none;
    border-color: #f19620;
    background-color: transparent;
}
.install .right a, .landing-page.ssl .validate_level h4, .nav_bar .wgs-new-mega-menu .megamenu .register h2.tld-list-show, .pricing_section .price_group .owl-item .price_sect h2, body #sslDetail #collapseFaq .panel-body p a, body ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active a, i.fa.fa-clock-o.ticket-open, ul.ssl-certs-all .padded-cell a.ssl-learn-mr {
    color: #2073b5;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect, .pricing_section .price_group .owl-item:nth-child(4) .price_sect {
    border-top-color: #f19620;
}
.pricing_section .price_group .owl-item .price_sect, .submit_your_inquiry .left-contact-sec .tab-left-contact button {
    border-color: #2073b5;
}
body ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active a {
    border-color: #2073b5!important;
}
#alertOverdueInvoice, .alert.alert-danger.checkout-error-feedback {
    border: 1px solid #f1962087;
}
.clientareaproductdetails .nav-tabs li a:hover, .clientareaproductdetails .nav-tabs li.active a {
    color: #f19620!important;
    box-shadow: 0 4px 0 #f19620 inset;
    background-color: #fff;
}
.clientareaproductdetails .nav-tabs li a i {
    color: #2a2a2a;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s;
}
#tableInvoicesList td.sorting_1 span.textblack, .hx_buybtn a, .hx_webhosting_plans>.col-md-4:nth-child(2) .hx_buybtn a, .nav_bar .megamenu .learn_btn:active, .register-domain-section .right .domain_row .domain_colos .small-button, .register_page .right .nav li a.active {
    border-color: #f19620;
}
#tbl-new-block-tld td.hx-table-price, .price_list .price_grid .price_grid_last .button03:focus {
    color: #000;
}
.nav_bar .hostx-dropdown:last-child .megamenu .drow_menu .nav.flex-column li a {
    color: #fff!important;
}
.nav_bar .hostx-dropdown:last-child .megamenu .drow_menu .nav.flex-column li:hover a {
    color: #000!important;
}
.hx_webhosting_plans>.col-md-4.selected, .hx_webhosting_plans>.col-md-4:hover, .hx_webhosting_plans>.col-md-4:nth-child(2) {
    box-shadow: 0 4px 0 #f19620 inset;
}
.hx_plans-find a {
    background-color: #f1962021;
}
.pricing_section .price_group .owl-item .price_sect .bottom_sect {
    background-color: #2073b51f;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect {
    background-color: #f196201a;
}
.store-order-container .nav li.active::after {
    border-top: 9px solid #2073b5;
}
.secure_col .secure-box .secure-box1:nth-child(2):hover {
    border-color: #2073b5;
}
.secure_col .secure-box .secure-box1:hover {
    background-color: #0000005c;
    border-color: #fe7760;
}
.bandwidth {
    background-color: #3e3e3e;
}
.pricing_section {
    padding-bottom: 0;
}
.hx-tablesearchbar .btn-secondary:focus, .hx-tablesearchbar .btn-secondary:hover, .nav_bar .navbar-nav>li:last-child a.nav-link.dropdown-toggle.menu_top, .pricing_section .price_group .owl-item:nth-child(3) .price_sect .bottom_sect .button03:hover, .tab-content .hx-tablesearchbar .btn-secondary:active {
    background-color: transparent;
}
.nav_bar .navbar-nav>li:last-child .nav-link.dropdown-toggle.menu_top.active {
    color: #f19620;
    background-color: #fff;
}
.nav_bar .navbar-nav>li:last-child:hover a.nav-link.dropdown-toggle.menu_top {
    background-color: #fff;
}
body .landing-page.ssl .item.third_validate_level {
    border-bottom: 3px solid #f19620;
}
body .landing-page.ssl .item.first_validate_level {
    border-bottom: 3px solid #2073b5;
}
#domainSuggestions .button01:focus, .get_started .button01:focus {
    outline: 0;
}
.vps-hosting {
    background-color: #2073b50d;
}
.pricing_section .price_group .price_sect .bottom_sect {
    background-color: #2073b51c;
}
.glyphicon, .pricing_section .price_group .price_sect h2, .pricing_section .price_group .price_sect:nth-child(2) h2, .pricing_section .price_group .price_sect:nth-child(3) h2 {
    color: #2073b5;
}
.pricing_section .price_group .price_sect, .pricing_section .price_group .price_sect:nth-child(2), .pricing_section .price_group .price_sect:nth-child(3) {
    border-top: 2px solid #2073b5;
}
.new_hx-banner {
    background: #2073b512 url(../../images/bnr-graphic.png);
}
.hx-tablesearchbar .btn-secondary:focus, .hx-tablesearchbar .btn-secondary:hover, .tab-content .hx-tablesearchbar .btn-secondary:active {
    color: #2073b5;
    border: 1px solid #2073b5;
}
.tab-content .hx-tablesearchbar .btn-secondary:active, .tab-content .hx-tablesearchbar .btn-secondary:focus {
    box-shadow: none!important;
}
body #sslDetail.detailed-info .panel-heading {
    border: 2px solid #f1962029;
}
button.btn.btn-primary.wgs-submit-button.btn-recaptcha:focus {
    background-color: transparent;
    border: 1px solid #f19620;
    box-shadow: none;
}
.see-our-story-about .about-metus-row ul li, .wetackcareforupgrade .maintenance-inner-text-row ul li {
    list-style-image: url(../../images/layouttwo/li-about-img.png);
}
.banner .banner2 .banner_list li a:before {
    background-image: url(../../images/layouttwo/li-about-img.png);
}
#myHeader #mainNavbarCollapse .navbar-nav .menu_top:hover, .c-support-btn .button03:focus, .c-support-btn a.live-btn:focus, .landing-page #pricing .btn-group.choose-product .btn {
    color: #fff;
}
.nav_bar .navbar-nav>li:last-child a.btn.btn-danger.text-uppercase.learn_btn.mb-4 {
    background-color: transparent;
    color: #000;
    border-color: #f19620;
}
.nav_bar .megamenu .btn-danger:focus {
    border-top-color: #f19620;
}
#order-standard_cart a.btn.btn-default {
    background: #f19620;
    border-color: #f19620;
}
#modalBillingAddress .wgs-btn-sv, .c-code, .cuppon-box, .inner-content-area .form-group .btn-primary, .landing-page #pricing .btn-group.choose-product .btn:last-child, .nav_bar .megamenu .btn-danger:not(:disabled):not(.disabled):active:focus, .nav_bar .megamenu .learn_btn, .wgs-submit-button .btn-primary:not(:disabled):not(.disabled):active {
    border-color: #f19620;
}
#modalBillingAddress .wgs-btn-sv, #myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a, #myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a:hover, .c-support-btn .button03:hover, .inner-content-area .form-group .btn-primary, .landing-page #pricing .btn-group.choose-product .btn:last-child, .perfect-domain .button03:hover, body .landing-page.sitelockvpn .feature.pricing .pricing-box .label-info {
    background-color: #f19620;
}
body .landing-page.sitelockvpn .btn-signup.highlight1, body .landing-page.sitelockvpn .btn-signup.highlight2, body .landing-page.sitelockvpn .feature.pricing, body .landing-page.sitelockvpn .hero {
    background-color: #3e9ce6;
}
.landing-page #pricing .btn-group.choose-product .btn:first-child.active, .landing-page #pricing .btn-group.choose-product .btn:last-child.active {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
#sslDetail .row.help-me-choose .btn-primary, .landing-page #pricing .btn-group.choose-product .btn:first-child, .landing-page #pricing .btn-group.choose-product .btn:last-child, .ssl-certs-all .btn-success {
    background-color: #3e9ce6;
    border-color: #3e9ce6;
}
body .store-promoted-product .btn, body .store-promoted-product .btn-success:not(:disabled):not(.disabled):active, body .store-promoted-product .btn:focus, body .store-promoted-product .btn:hover {
    background-color: #f19620;
    border-color: #f19620;
    color: #fff;
}
.store-promoted-product .btn:hover, body .landing-page.ox .header .btn:hover {
    background-color: transparent;
    border-color: #f19620;
}
.landing-page .innr_bx_lastsec .btn:focus, .landing-page .innr_bx_lastsec .btn:hover, .wgsTestimonial li.slick-active button, body .continue-row button.btn.btn-primary, body .hx-tablesearchbar .input-group-append button, body .hx_supprt-sec, body .landing-page .features, body .landing-page .get-started, body .landing-page.codeguard .pricing, body .landing-page.sitelock .emergency, body .landing-page.sitelock .plans, body .landing-page.ssl .validation-levels, body .store-order-container .continue-row button.btn.btn-primary:hover {
    background-color: #2073b5;
}
.cuppon-box h5 span, .cuppon-box h5 strong, .frequently-questions .frequently-questions-row .accordion-container-main .card a:before, .frequently-questions .frequently-questions-row .accordion-container-main .current a:before, .see-ofr-btn:hover, .store-promoted-product .btn:hover, body .landing-page.ox .header .btn:hover {
    color: #f19620;
}
.pricing_section .price_group .owl-item:nth-child(3) .price_sect .bottom_sect .button03:hover, .pricing_section .price_group .price_sect .bottom_sect .button03:hover {
    color: #2073b5;
    border: 1px solid #2073b5;
}
.landing-page .nav li.active::after {
    border-top: 9px solid #2073b5;
}
.sp-offer {
    background: #f19620;
}
.irs-from, .irs-single, .irs-to {
    background: #2073b5;
}
.business-btn, .getstart-business-btn, body .landing-page.ox .header {
    background-color: #3e9ce6;
}
.twofa-setup p input:focus {
    outline: 0;
}
#modalBillingAddress .wgs-btn-cn, .clientarea.account-paymentmethods .right a.btn.btn-primary, .domain_table1 .suggestions_button, .inner-content-area .form-group .btn-default, .inner-content-area form .btn-primary, .landing-page.ox .pricing .btn-primary, .promo-banner.weebly .btn, .twofa-setup .btn-primary, .twofa-setup p .btn-primary:not(:disabled):not(.disabled):active, .twofa-setup p input, .twofa-setup p input:focus, .viewticket .up-r-btn button.btn.btn-default.btn-block {
    border-color: #2073b5;
}
#modalBillingAddress .wgs-btn-cn, #tbl-new-block-tld button.add-to-cart-btn.addhostingbtn, .business-btn, .clientarea.account-paymentmethods .right a.btn.btn-primary, .domain_table1 .suggestions_button, .getstart-business-btn, .inner-content-area .form-group .btn-default, .inner-content-area form .btn-primary, .landing-page.ox .pricing .btn-primary, .promo-banner.weebly .btn, .twofa-setup .btn-primary, .twofa-setup p .btn-primary:not(:disabled):not(.disabled):active, .twofa-setup p input, .twofa-setup p input:focus, .viewticket .up-r-btn button.btn.btn-default.btn-block, body .landing-page.ox .pricing th {
    background-color: #2073b5;
}
.getstart-business-btn:focus {
    color: #feebdc;
}
.business-btn:hover {
    border: 1px solid #2073b5;
    color: #2073b5;
}
#searchDomainInfo .domain-available .domain-price i.glyphicon, .business-btn:focus, .domain-suggestion .domain-button i.glyphicon, .wid-level .wgs-a-btn a {
    color: #fff;
}
.new_hx-business-banner {
    background-color: #eef4f9;
}
.hx-business-banner {
    background: #eef4f9 url(../../images/business-bannertwo.png) no-repeat;
    background-size: cover;
}
.nav_bar .wgs-new-mega-menu .megamenu .drow_menu a:hover, .right .domain_detail_page .shared-hosting .manage-domain-box .active-domain p.pending-status {
    color: #f19620!important;
}
.offers-banner {
    background: -webkit-linear-gradient(to right, #f19620, #2073b5);
    background: linear-gradient(to right, #f19620, #2073b5);
}
.register_page .min_box .register_tab .nav li a {
    border-bottom: 3px solid #b6b6b6;
}
.hx_domain {
    border-color: #f19620;
}
.hx_domain-available {
    background-color: #f196202e!important;
    border: 2px solid #f196202e;
}
#tbl-new-block-tld .hx_domain-available .hx_domaintxt span i {
    color: #2073b5;
}
#tbl-new-block-tld .hx_domain-available .hx_domaintxt span, .domain-unavailable, .hx_domain-header h3, .unavail-msg span, .wgs-circle-name span {
    color: #f19620;
}
#tbl-new-block-tld .add-to-cart-btn.removeBtnCat, .carouselInnerSideBar li.slick-active button, .hx_domain-header h3 span {
    background-color: #f19620;
}
.home-logo-mega-menu-dropdown i, .md-editor.md-fullscreen-mode .btn, .md-header.btn-toolbar button.btn-sm.btn.btn-primary span.glyphicon, .new-mega-menu-right-bar li a, .pricing_section .price_group .price_sect .bottom_sect .button03:focus, .wgs-new-mega-menu .fa-home {
    color: #fff;
}
#tbl-new-block-tld .hx_domain-available .hx_domaintxt span i {
    background-color: #212121;
}
nav#myHeader div#languageList a.dropdown-item {
    color: #000;
}
.primary-menu-toggle .bar1, .primary-menu-toggle .bar2, .primary-menu-toggle .bar3, .secondary-menu-toggle .bar1, .secondary-menu-toggle .bar2, .secondary-menu-toggle .bar3 {
    background-color: #fff;
}
.clientareadetails .btn-danger, .clientareadetails .btn-danger:focus, .clientareadetails .btn-danger:hover, .clientareadetails .btn-danger:not(:disabled):not(.disabled):active {
    background-color: #262626;
    border-color: #262626;
}
.right .domain_detail_page .shared-hosting .manage-domain-box {
    border: 1px solid #f1962038;
}
.kb-rate-article .btn-lg, .kb-rate-article .btn-lg:hover {
    color: #f19620;
    text-decoration: none;
}
#order-standard_cart .completeOrder a.btn.btn-default {
    background-color: #2073b5;
    border-color: #2073b5;
}
.announcements .view_ticket_box .top::after, .completeOrder .order-confirmation span, .view_ticket_col .shared-hosting .view_ticket_box .top::after {
    color: #f19620;
}
div#modalAjax .panel-primary>.panel-heading {
    background-color: #2073b5;
    border-color: #2073b5;
}
button#btnAddUpSell {
    background-color: #f19620;
    border-color: #f19620;
}
#pricing .btn.btn-default.cycle-change.active {
    border-top: 3px solid #f19620!important;
    color: #f19620!important;
}
.hx-client-url {
    color: #f19620;
}
.hx-client-designation {
    color: #2073b5;
}
body #order-standard_cart .viewCartDiv .view-cart-items .item .edit-from-cart {
    border: 1px solid #262626;
    color: #262626;
}
#order-standard_cart .viewCartDiv #btnEmptyCart i {
    color: red;
}
.wgsTestimonialCrouselCustom li.slick-active button, .wgsTestimonialCrouselCustomOneSlide li.slick-active button {
    background-color: #2073b5;
}
.wgsTestimonialCrouselCustom button, .wgsTestimonialCrouselCustomOneSlide button {
    background-color: #f19620;
}
body form#frmAddToCart ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active a {
    border-color: #2073b5!important;
}
form#frmAddToCart ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li a {
    background-color: #2073b5;
    border-bottom: 3px solid #2073b5!important;
}
/* 12-april-2022 start*/
.icon-sec {
    background-color: #2073b5;
}
.left-list-inner.active .icon-sec {
    background: #2073b5;
}
.left-list-inner .icon-img {
    filter: unset;
}
.left-list-inner.active {
    background: #eff5fa;
}
.list-menu li a, .counrty-inner a{
	color: #fff;
}
.tabs-sec .nav-link{
	border-right: 2px solid #2073b5;
    background-color: #2073b5;
    border-bottom: 3px solid #2073b5 !important;
}
.tabs-sec .nav-item.active:after{
	border-top: 9px solid #2073b5;
}
.compare-blk-btn{
	background-color: #f19623;
}
.faq .card-header .collapsed:before{
	color: #f19623;
}
.faq .card-header a:after{
	color: #f19623;
}
.bottom-sec{
	background: #2073b5;
}
.list-menu .drop-down-menu .bottom-sec a{
	background: #4188c0;
    box-shadow: none;
	color: #fff;
}
.top-menu-li-header .icon-img {
    filter: unset;
}
.bottom-sec h5{
	color: #fff;
}
.counrty-inner .country-dropdown .dropdown-item {
    color: #555;
}

.wgs-top-menu-latest-clientarea .primary-menu-toggle .bar1, .wgs-top-menu-latest-clientarea .primary-menu-toggle .bar2, .wgs-top-menu-latest-clientarea .primary-menu-toggle .bar3 {
    background: #fff;
}
.wgs-top-menu-latest-clientarea a.home-logo-mega-menu{
	color: #fff;
}
.wgs-top-menu-latest-clientarea .new-mega-menu-right-bar li a {
    color: #fff;
}
.main-sate .upper-sec-satelite .satelitetop-detail .active{
	background: #2073b5;
}
.main-sate .upper-sec-satelite .satelitetop-detail p:after{
	background: #2073b5;
}
.left-list-inner .icon-img-new i{
	color:#fff;
}
.left-list-inner .icon-img-new i{
	color:#fff;
}
.nav_bar .navbar-nav>li a.active, .nav_bar .navbar-nav>li a:focus, .nav_bar .navbar-nav>li>a:hover {
    border-top-color: transparent;
}
/* 12-april-2022 end*/
@media(max-width:706px) {
    .banner .big_col {
    border: 2px solid #f19620;
}
.banner .big_col .big_col_in {
    background: #f19620;
}
.banner {
    background-color: #2073b5;
}
.banner .left h2 span, .banner .left.mt-2 h2, body .banner .banner2 .banner_list li a, body .banner .banner2 h1, body .banner .banner2 h6 {
    color: #fff;
}
.wordpress_banner.banner .left {
    float: none!important;
}
.banner .banner_bottom .clearfix+.button02 {
    background-color: #f19620;
}
}
@media(max-width:767px) {
    .banner .banner2 .banner_list li a, .banner .banner2 h1, .banner .banner2 h6 {
    color: #000;
}
}
@media(max-width:991px) {
    .home-logo-mega-menu-dropdown i, .new-mega-menu-right-bar li a, .pricing_section .price_group .price_sect .bottom_sect .button03: focus, .wgs-new-mega-menu .fa-home {
    color: #000;
}
.primary-menu-toggle .bar1, .primary-menu-toggle .bar2, .primary-menu-toggle .bar3, .secondary-menu-toggle .bar1, .secondary-menu-toggle .bar2, .secondary-menu-toggle .bar3 {
    background-color: #fff;
}
.active-mobile .right-sec .top-menu-ul-header-latest{
	    background: #2073b5;
}
.nav_bar.navbar-expand-lg.active-mobile .right-sec .top-menu-li-header {
    border-bottom: 1px solid #458dc6;
}
}