.hc-offcanvas-nav li.nav-back a, .hc-offcanvas-nav li.nav-close a {
    background: #44ce78;
    border-color: #44ce78;
    color: #fff;
}
.hc-offcanvas-nav li.nav-back a:hover, .hc-offcanvas-nav li.nav-close a:hover {
    background: #44ce78;
}
#btnResendVerificationEmail, #frmGeneratePassword button#btnGeneratePasswordInsert, #frmGeneratePassword button.btn.btn-default.btn-sm.wgs-submit-button, .banner .banner_bottom .button02 {
    border: 1px solid #44ce78;
    background-color: #44ce78;
}
#btnResendVerificationEmail {
    color: #fff;
}
.banner .banner_bottom .button02:hover {
    color: #043d5f;
}
.nav_bar {
    background-color: #44ce78;
}
.nav_bar .navbar-nav>li a.active, .nav_bar .navbar-nav>li a:focus, .nav_bar .navbar-nav>li>a:hover {
    color: #043d5f;
    border-top-color: #44ce78;
}
li.menu-last-btn a:focus, li.menu-last-btn a:hover {
    color: #fff!important;
}
.header .right .right_navi li:first-child a .fa {
    color: #043d5f;
}
.nav_bar .megamenu .drow_menu h5:after {
    border-bottom: 2px solid #043d5f;
}
.header .right .right_navi li.hover:hover a {
    background-color: #043d5f;
}
.nav_bar .megamenu .register h1 {
    color: #043d5f;
    border-bottom: 2px solid #043d5f;
}
, .footer .footer_col .button03 {
    background-color: #44ce78;
}
.get_started {
    background-color: #043d5f;
}
.register-domain-section .tooltip-inner {
    background-color: #44ce78!important;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #44ce78;
}
.get_started h1 {
    color: #fff;
}
.get_started .button01:hover {
    color: #043d5f;
    border-color: #043d5f;
}
.domain-block-search .btn {
    background-color: #44ce78;
}
.domain-block-search .btn:hover {
    color: #043d5f;
    border: 1px solid #44ce78;
}
.features-option4 .features-col.active .img-box {
    background-color: #043d5f;
}
.features-option4 .features-col.active:before, .features-option4 .features-col:hover:before {
    border-top: 1px solid #043d5f;
    border-right: 1px solid #043d5f;
}
.features-option4 .features-col.active:after, .features-option4 .features-col:hover:after {
    border-top: 1px solid #043d5f;
    border-left: 1px solid #043d5f;
}
.features-option4 .features-col.active .features-option4_border:after, .features-option4 .features-col:hover .features-option4_border:after {
    border-bottom: 1px solid #043d5f;
    border-left: 1px solid #043d5f;
}
.features-option4 .features-col.active .features-option4_border:before, .features-option4 .features-col:hover .features-option4_border:before {
    border-bottom: 1px solid #043d5f;
    border-right: 1px solid #043d5f;
}
.features-option3 .features-col.active:before, .features-option3 .features-col:hover:before {
    border-bottom: 1px solid #043d5f;
}
.features-option3 .features-col.active:after, .features-option3 .features-col:hover:after {
    border-top: 1px solid #043d5f;
}
.testimonials-1 .testimonials_box h2 {
    color: #043d5f;
}
.nav_bar .navbar-nav>li.menu-last-btn a {
    background-color: #021b6d;
}
.nav_bar .navbar-nav>li a.active, .nav_bar .navbar-nav>li a:focus, .nav_bar .navbar-nav>li>a:hover {
    border-top-color: #043d5f;
}
.features-option4 .features-col .svg path {
    fill: #043d5f!important;
}
.features-option4 .features-col.active .img-box svg path {
    fill: #043d5f;
    background: 0 0;
}
.features-option2 .features-col .img-box {
    background-color: transparent;
}
.features-col .img-box rect {
    fill: #043d5f;
}
.features-col:hover .img-box rect {
    fill: #fff;
}
.price_list .price_grid:hover .price_box {
    background-color: #043d5f;
}
.price_list .price_grid:hover {
    border: 1px solid #043d5f;
}
.price_list .price_grid:hover .price_box:after {
    border-top: 31px solid #043d5f;
}
.price_list .price_grid .button03 {
    background-color: #043d5f;
}
.banner .banner_bottom h3:after {
    border-bottom: 2px solid #043d5f;
}
.features-option2.wgs-prod-opt .features-col:hover .img-box {
    background-color: transparent;
}
.features-option2.wgs-prod-opt.features-option3 .img-box img {
    height: auto!important;
}
.domain .search_box .submit, .perfect-domain .button03 {
    background-color: #043d5f;
}
.cls-3 {
    fill: #043d5f!important;
}
.business-row .left .button03 {
    background-color: #043d5f;
}
.domaintransfer .tDomain .btn-transfer {
    background-color: #043d5f;
    border: 1px #043d5f solid;
}
#myHeader #mainNavbarCollapse .open .nav-item .nav-link .fa, .fas {
    color: #043d5f;
}
.domaintransfer .tDomain {
    border: 3px solid #021b6d;
}
.cpanel_banner .left h2 span {
    color: #043d5f;
}
.table-container .table td a {
    color: #44ce78;
}
.button04 {
    background-color: #043d5f;
    border: 1px solid #043d5f;
    max-width: 242px;
    width: auto;
    font-size: 15px;
}
.banner3 .banner_info .button03 {
    max-width: 242px;
    width: auto;
}
.button04:hover {
    color: #043d5f;
}
.pricing_section .price_top ul.months-ul li a span {
    color: #043d5f;
}
.pricing_section .vat_col b {
    border-bottom: 2px solid #043d5f;
}
.vps-hosting .vps-hosting-list .right h2 {
    color: #043d5f;
}
.dedicated_servers .left .filters_box .range_slider .irs-bar {
    background: #043d5f;
}
.banner .left h2 span, .banner .left.mt-2 h2 {
    color: #043d5f;
}
.features-option2 .features-col:hover .img-box {
    background-color: #333;
}
.hosting_feature .hosting_sections .hosting_box span img path, .hosting_feature .hosting_sections .hosting_box span img polygon, .hosting_feature .hosting_sections .hosting_box span svg path, .hosting_feature .hosting_sections .hosting_box span svg polygon {
    fill: #043d5f;
}
.hosting_feature .hosting_sections .hosting_box:hover {
    border-color: #043d5f;
}
.hosting_feature .hosting_sections .hosting_box h3:before {
    background-color: #043d5f;
}
.hosting_feature .hosting_sections .hosting_box:hover span {
    background-color: #043d5f;
}
.clientarea .left ul.side_menu>li:first-child>a {
    background-color: #043d5f;
    color: #fff;
}
.clientarea .left ul.side_menu>li:first-child>a:after {
    border-left: 25px solid #043d5f;
}
.supportticketsubmit-steptwo .waves-effect {
    background-color: #043d5f!important;
}
#openTicketSubmit {
    background-color: #043d5f;
}
.side_menu li:nth-child(1) .lficnmn {
    color: #043d5f;
}
.register-domain-section .right .search_domain .search_domain_in .btn {
    background-color: #043d5f;
}
.register-domain-section .add_web_hosting .box .button01 {
    background-color: #043d5f;
    border: 1px #043d5f solid;
}
.toll-free {
    background-color: #043d5f;
}
.toll-free .toll-free-col span {
    color: #fff;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .btn-checkout {
    text-align: center;
    width: 100%;
    padding: 12px 0;
}
#applyPromoDiv button.btn.btn-block {
    font-size: 12px;
}
.register_page .right>h1 span {
    color: #043d5f;
}
.register_page .personal_information_form .button03 {
    background-color: #043d5f;
}
.register_page .right .nav li a.active {
    color: #043d5f;
    border-bottom-color: #043d5f;
}
.register_page .nav-link:hover {
    color: #043d5f!important;
    border-bottom: 2px solid #043d5f!important;
}
.providerPreLinking {
    display: inline-block;
    margin-top: 25px;
}
.register_page .min_box .register_tab .nav li.active a {
    color: #043d5f;
    border-color: #043d5f;
}
.register_page .min_box .register_tab .nav li a {
    border-bottom: 3px solid #44ce784a;
}
.clientarea .right .top h2 span {
    color: #043d5f;
}
.wgs-submit-button {
    background-color: #043d5f;
}
.wgs-submit-button:hover {
    background-color: #043d5f;
}
.knowledgebaseDiv .top_searchbar {
    background: #44ce78;
}
.knowledgebaseDiv .top_searchbar .btn, .price_list .price_grid .price_grid_last {
    background-color: #043d5f;
}
.title_box5 {
    color: #043d5f;
    border-color: #043d5f;
}
.banner3 .banner_info .button03 {
    background-color: #043d5f;
}
.banner .banner2 h1 span {
    color: #043d5f;
}
.banner .banner2 .button02 {
    border: 1px solid #043d5f;
    background-color: #043d5f;
}
.banner .banner2 .button02:hover {
    color: #043d5f;
}
.about-us-banner .left h2, .frequently-questions .frequently-questions-row h2 span, .great-service .great-service-row h2 span, .see-our-story-about .abt-frst-row h4 span, .wetackcareforupgrade .maintenance-inner-text-row h4 span {
    color: #043d5f;
}
.frequently-questions .frequently-questions-row .accordion-container-main .current .card-header a {
    color: #043d5f;
}
.clientarea .left ul.side_menu>li:first-child>a {
    background-color: #043d5f;
}
.messagesicn, .ssl-banner .left h2 {
    color: #043d5f;
}
.search_opt1 .btn, .ssl-banner .left h3:after {
    background-color: #043d5f;
}
.search_opt1 .btn:hover {
    border: 1px solid #043d5f;
    color: #043d5f;
}
.support_tickets .regis .input-group-btn .btn {
    background-color: #043d5f;
}
.inner-term-domain-page h3:after, .support_tickets .support_tickets_col .top:after {
    border-bottom: 4px solid #043d5f;
}
.support_tickets .activ .text-domain, .support_tickets .recen .label, .support_tickets .regis .panel-title {
    color: #043d5f;
}
.clientareadetails .marketing-email-optin .bootstrap-switch {
    background: #043d5f;
}
.cardInfoDiv .btn-primary, .clientareadetails .btn-primary {
    background-color: #043d5f;
    border: 1px #043d5f solid;
}
.cardInfoDiv h3:after {
    border-bottom: 4px solid #043d5f;
}
.slick-next:before, .slick-prev:before {
    color: #043d5f!important;
}
#order-standard_cart .domain-input-group .btn-primary {
    background: #043d5f;
}
#btnDomainContinue, .domainResultsWithProducts li .btn-add-to-cart {
    background-color: #043d5f!important;
}
#order-standard_cart .sub-heading span, #order-standard_cart .sub-heading-borderless span {
    color: #043d5f!important;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .btn-checkout, .addons .right .products .product footer .btn-success, body #btnCompleteProductConfig {
    background: #043d5f;
    border: 1px solid #043d5f;
}
#order-standard_cart .viewCartDiv .view-cart-items .item .btn-remove-from-cart {
    border: 1px solid #043d5f;
}
.addons .right .products .product footer button.btn.btn-success.btn-sm .fa, .fas {
    color: #fff;
}
.register-domain-section .browse_extensions ul.nav a.active {
    border-top: 4px solid #043d5f;
    color: #043d5f;
}
.register-domain-section .add_web_hosting .box .button01:hover {
    color: #043d5f;
}
.announcements .view_ticket_box .top:before {
    border-bottom: 4px solid #043d5f;
}
.announcements .view_ticket_box .label-warning {
    color: #043d5f;
}
.knowledgebaseDiv .inner_bx_area i {
    color: #fff;
    background-color: #043d5f;
}
.knowledgebaseDiv .inner_bx_area h4:hover {
    color: #043d5f;
}
.right .client_download_page .shared-hosting .download_searchbar {
    background: #043d5f;
}
.right .client_download_page .shared-hosting .download_searchbar .btn {
    background-color: #043d5f;
}
.right .client_download_page .shared-hosting .download-popular-wgs .download-box-div i {
    color: #fff;
    background-color: #043d5f;
}
.right .client_download_page .shared-hosting .download-popular-wgs .download-box-div .downloads-link-wgs ul li a i {
    color: #043d5f;
}
#ticketReply {
    border: solid 1px #043d5f;
    color: #043d5f;
}
.view_ticket_col .shared-hosting .panel.panel-info {
    border: solid 1px #043d5f;
}
.view_ticket_col .shared-hosting h3.panel-title i {
    color: #043d5f;
}
.view_ticket_col .shared-hosting .view_ticket_box .top:before {
    border-bottom: 4px solid #043d5f;
}
.viewticket .waves-effect {
    background-color: #043d5f!important;
}
.client_mass_payment_page .manage_payments .invoice-title {
    color: #043d5f;
}
.client_mass_payment_page .manage_payments .top-bars.manage_pay_top_bar:before {
    border-bottom: 4px solid #043d5f;
}
.clientarea .left ul.side_menu>li.active>a, .fas, .support_tickets .fa, .support_tickets .support_tickets_col .panel-title i {
    color: #043d5f;
}
.dedicated_servers .right .results_box .col1 .button02 {
    background-color: #043d5f;
}
.clientarea .left ul.side_menu>li.active>a::before {
    color: #043d5f!important;
}
#mainNavbarCollapse .btn.btn-default.domain-search-bn {
    background: #043d5f;
}
#mainNavbarCollapse .red-sp-d {
    color: #043d5f;
}
.choose-more-product .col-sm-2:nth-child(1) .more-product-col {
    border-bottom: 3px solid #043d5f;
}
.pricing_section .price_group .owl-item .price_sect {
    border-top: 2px solid #043d5f;
}
.choose-more-product .more-product-col {
    border-bottom: 3px solid #043d5f;
    padding: 14px 5px;
}
.button03 {
    background-color: #44ce78;
}
.button03:hover {
    background-color: #44ce78;
}
.pricing_section .price_group .owl-item .price_sect h2 {
    color: #708096;
}
.register-domain-section .add_web_hosting .col-sm-6:last-child .button01:hover {
    color: #043d5f;
}
.register-domain-section .add_web_hosting .col-sm-6:last-child .button01 {
    background-color: #043d5f;
    border: 1px solid #043d5f;
}
#order-standard_cart .viewCartDiv .order-summary .orderSummaryCd #applyPromoDiv .btn-block {
    background: #043d5f;
}
#order-standard_cart .viewCartDiv #btnEmptyCart, #order-standard_cart .viewCartDiv .order-summary .orderSummaryCd .total-due-today .amt {
    color: #043d5f;
}
#order-standard_cart .viewCartDiv #btnEmptyCart {
    border: 1px solid #043d5f;
}
#order-standard_cart .viewCartDiv .view-cart-items .item .edit-from-cart {
    border: 1px solid #262626;
    color: #262626;
}
.clientareaproductdetails #tabOverview {
    margin-top: 20px;
}
.clientareaproductdetails .btn-default, .clientareaproductdetails .btn-primary {
    background-color: #043d5f;
    border: 1px #043d5f solid;
}
#btnCreateLoader {
    color: #fff;
}
.configureProductDiv .info-text-sm a, .configureProductDiv .order-summary .total-due-today .amt, .shared-hosting .left .personal_section h2 {
    color: #043d5f;
}
body #order-standard_cart .checkoutDiv #btnCompleteOrder {
    background: #043d5f;
    border: 1px solid #043d5f;
}
body #order-standard_cart .checkoutDiv .already-registered .btn {
    background: #043d5f;
    border: 1px solid #043d5f;
}
body #order-standard_cart .checkoutDiv .showMarketingEmail .bootstrap-switch {
    background: #043d5f;
}
.btn-print-inv:hover {
    background: #043d5f;
}
.btn-download-inv, .btn-print-inv {
    background: #043d5f;
    border: 1px solid #043d5f;
}
.btn-download-inv i, .btn-print-inv i {
    color: #fff;
}
.btn-download-inv:hover {
    background-color: #fff;
    color: #043d5f;
}
.btn-download-inv:hover i {
    color: #043d5f;
}
.btn-invoice {
    color: #fff;
    background-color: #043d5f;
    border: 1px solid #043d5f;
}
.btn-invoice a:focus, .btn-invoice a:hover {
    color: #043d5f;
    background-color: #fff;
    text-decoration: none;
}
.inv-inner-con {
    border: 1px solid #043d5f;
}
.transactions-container.small-text table.table.table-condensed td.text-right {
    border: 1px solid #043d5f;
    border-right-color: transparent;
}
.transactions-container.small-text table.table.table-condensed tbody tr:last-child td.text-center {
    color: #043d5f;
    border: 1px solid #043d5f;
    border-left-color: transparent;
}
.table-container .table td .status {
    color: #043d5f;
    border: 1px solid #043d5f;
}
.table-container #tableDomainsList.table td a, .table-container .dataTables_paginate .pagination li.active a {
    color: #043d5f;
}
.table-container .table td .status:hover {
    background: #043d5f;
    color: #fff;
}
.choose_section .tab li a {
    border-right: 2px solid #043d5f;
    background-color: #043d5f;
    border-bottom: 3px solid #043d5f;
    font-size: 13px;
    padding: 20px;
}
.choose_section .tab li a.active {
    color: #043d5f;
}
.choose_section .cls-1, .choose_section .cls-2 {
    stroke: #043d5f!important;
}
.choose_section .tab li a.active:after {
    border-top: 9px solid #043d5f;
}
.choose_section .tab li a.active img path, .choose_section .tab li a.active svg path {
    fill: #043d5f;
}
.dedicated-server .dedicated_box .dedicated_box_col .button02, .dedicated-server .dedicated_box .dedicated_box_col .gol {
    background-color: #043d5f;
}
.pricing_section .custom_tabs {
    background-color: #043d5f;
}
.pricing_section .custom_tabs .tab li a {
    border-right: 1px solid #043d5f;
}
.banner .big_col .big_col_in {
    background: #44ce78;
    background: linear-gradient(90deg, #44ce78 0, #44ce78 35%, #00d4ff 100%);
}
.banner .big_col {
    border: 2px solid #44ce78;
}
.banner-bottombar {
    background-color: #043d5f;
}
.technical-specifications, .technical-specifications .cols span {
    background-color: #44ce78;
}
.email-verification .fa-exclamation-triangle, .technical-specifications .cols h3 {
    color: #44ce78;
}
#order-standard_cart .registrationPeriod .col-sm-6 .button03 {
    background-color: #043d5f;
}
#order-standard_cart .configureDomainsBtn {
    border: 1px solid #043d5f;
    background: #043d5f;
}
.supportticketsubmit-steptwo .up-r-btn button.btn.btn-default.btn-block {
    background: #043d5f;
    color: #fff;
}
.fas, .supportticketsubmit-steptwo .up-r-btn button.btn.btn-default.btn-block .fa {
    color: #fff;
}
.nav-tabs-overflow a i {
    color:  #000;
}
.clientareaproductdetails .nav-tabs li.active a i {
    color: #44ce78;
}
a.cancel-btn-wgs, a.cancel-btn-wgs:hover {
    background-color: #043d5f;
}
.about-why-choose-us, .bandwidth, .price_list, .tlds {
    background-image: linear-gradient(to right top, #043d5f, #006184, #008796, #00ac90, #44ce78);
}
.pricing_section .price_group .price_sect ul.list li:before, .right-content .pricing_section .price_group .price_sect ul.list li:before {
    background-color: #043d5f;
    -webkit-mask-image: url(../../images/layoutthree/check.svg);
}
.customers .owl-item.active .customers_box h2 {
    color: #043d5f;
}
.customers .owl-item.active .customers_box img {
    border-color: #043d5f;
}
.ratinginner img.img.star-im {
    width: auto;
}
.login-side-image, .register-side-image {
    background-color: #44ce78;
}
.someclass .cls-1, .someclass .cls-2 {
    fill: #15b26!important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    background: #043d5f;
}
.features-option2.features-option3 .features-col:hover .img-box {
    background-color: transparent;
}
.frequbntly_asked .question_answers>span {
    color: #043d5f;
}
.cls-1, .cls-2 {
    fill: #043d5f;
}
img.star-im {
    width: 120px;
}
.cpanel_banner.ssl-banner {
    padding-bottom: 0;
}
.testimonials-1 .testimonials_box h2 span {
    color: #292929;
}
.free-trial .free-trial-col h2 {
    color: #043d5f;
}
.cpanel_banner.ssl-banner .button04 {
    margin-top: 0!important;
}
.cpanel_banner.ssl-banner ul li strong {
    padding-right: 30px;
}
.col-sm-2.hidden-xs.cartAction i, .domain-available .price, .domain-available strong {
    color: #043d5f;
}
#order-standard_cart .configureDomainsDiv .panel-addon .panel-add, .configureProductDiv .left .personal_section ul li:before, .domain-available .button01 {
    background-color: #043d5f;
}
.register-domain-section .right .domain_row .domain_colos {
    margin-bottom: 20px;
}
.domain_table1 .button01, .live-btn, .wgsTestimonial button {
    background-color: #043d5f;
}
.alert-danger {
    clear: both;
}
div#paymentGatewaysContainer {
    margin-bottom: 10px;
    display: inline-block;
}
.certificate .right .button03, .right-content .landing-page.ssl .ideal-for .col-sm-4 i, .testimonials-1 .testimonials_box h2 {
    color: #043d5f;
}
.best-vps-server, .right-content .ssl_frm_content .btn.btn-primary {
    background-color: #44ce78;
}
.dedicated_servers .right .results_box .col1 .sata_button {
    color: #043d5f;
    border: 1px solid #043d5f;
}
.dedicated_servers .right .results_box .col1 .sata_button:hover {
    background-color: #043d5f;
}
.why-choose {
    background-image: linear-gradient(to right top, #043d5f, #006184, #008796, #00ac90, #44ce78);
}
.features-option2 .features-col:hover .img-box {
    background-color: #043d5f;
}
.dedicated-server {
    background: #043d5f;
}
.dedicated-server .owl-controls .owl-next, .dedicated-server .owl-controls .owl-prev {
    background-color: #fff;
}
.features-option2 {
    background-color: #efefef;
}
.features-option2 .features-col .img-box .box-svg path {
    fill: transparent!important;
    stroke: #043d5f!important;
}
.features-option2 .features-col .img-box img path, .features-option2 .features-col .img-box svg path {
    fill: #043d5f;
}
.features-option2 .features-col .img-box svg path {
    fill: #043d5f;
    stroke: transparent;
    stroke-width: 2px;
}
.cls-1 {
    stroke: none!important;
}
.header .right .right_navi li .dropdown-menu a:focus, .header .right .right_navi li .dropdown-menu a:hover {
    background-color: #043d5f;
}
.domainResultsWithProducts .spotlight-tld .btn-add-to-cart {
    border: 1px solid #043d5f!important;
}
.domainResultsWithProducts .spotlight-tld .btn-add-to-cart {
    color: #043d5f!important;
}
.progress-bar {
    background-color: #043d5f;
    min-width: 10%}
.domain-renewals #domainRenewals .domain-renewal .btn-add-renewal-to-cart, .domain-renewals .order-summary .orderSummaryCd .btn-primary {
    background: #043d5f!important;
    border: 1px solid #043d5f!important;
}
.domain-renewals #domainRenewals .domain-renewal h3 {
    color: #043d5f!important;
}
.alert.alert-warning.info-text-sm {
    color: #131212!important;
}
.mc-promos.viewcart .mc-promo {
    background-size: cover!important;
}
ul.nav.nav-tabs.nav-tabs-overflow li.active fas {
    color: #043d5f!important;
}
div#SitelockLogin .panel-body img {
    width: auto;
}
.btn.btn-block.buy_pricing_btn {
    background-color: #043d5f!important;
}
.hc-offcanvas-nav li.nav-close a {
    color: #fff!important;
}
#tableDomainsList_wrapper .fa, #tableDomainsList_wrapper .fas, .b-9-box h3 i, .vps-hosting .vps-hosting-list .right h2, .wgs-question-div span.arrow .fas {
    color: #043d5f;
}
.icon-img {
    background: url(../../images/layoutthree/sprite-icon-img.png);
    background-repeat: no-repeat;
}
.testimonials-1 .testimonials_box p:after {
    background-image: url(../../images/layoutthree/arro.png);
}
.block2-cont h2, .domain-unavailable, .frequently-questions .frequently-questions-row .accordion-container-main .card:before, .frequently-questions .frequently-questions-row .accordion-container-main .current:before, .pricing_section .price_group .price_sect:nth-child(2) h2 {
    color: #44ce78;
}
.c-support-btn .button03, .pricing_section .price_group .price_sect:nth-child(2) ul.list li:before {
    background-color: #44ce78;
}
.pricing_section .price_group .price_sect:nth-child(2) {
    border-color: #44ce78;
}
.offers-banner {
    background: -webkit-linear-gradient(to right, #043d5f, #44ce78);
    background: linear-gradient(to right, #043d5f, #44ce78);
}
.offers-banner .offers-banner-inner h5, .vps-btm h2 {
    color: #44ce78;
}
.panel-mc-sso .btn-service-sso, .see-ofr-btn, .vps-top h3::after, .wgs-side-panels .panel-footer .btn, .wgsTestimonial li.slick-active button, .wid-level .wgs-a-btn a, a.choose-btn {
    background-color: #44ce78;
}
.cuppon-box, .vps-top {
    border-color: #eee;
}
.wid-level .wgs-a-btn a {
    border-radius: 0;
}
.wgs-circle-name span {
    background-color: #d1eeff;
    color: #44ce78;
}
.btn-success, .clientareadetails .btn-default, .right-content .product-green-container .btn-success {
    background-color: #44ce78;
    border-color: #44ce78;
}
.wgs-cancel-button {
    background-color: #44ce78;
}
.btn-success:hover, .wgs-cancel-button:hover {
    background: #37bb69;
    border-color: #44ce78;
}
.modal-footer .btn-c, .panel-primary>.panel-heading, .wgs-alert-invc .btn, .wgs-submit-button:disabled, .wgs-submit-button:disabled:hover {
    background-color: #043d5f;
    border-color: #043d5f;
}
.register-domain-banner2 h1, i.fa.fa-clock-o.ticket-open {
    color: #44ce78;
}
.submit_your_inquiry .left-contact-sec .tab-left-contact button {
    border-color: #043d5f;
}
#account_security .wgs-alert-invc .btn {
    margin-top: 28px;
}
.content-block .learn_heading_text, .landing-page .frequbntly_asked1 .question_answers span svg path, .landing-page .top_banner_sections_ssl h2, .right-content .alert-warning, .right-content .features i.far.fa-check-circle, .right-content .landing-page .pricing-item .header h4, .right-content .landing-page.ssl .detailed-info .panel-heading h4 i, .right-content .store-order-container .domain-validation.ok, .right-content .store-order-container h2, .ssl #sslDetail .fa-chevron-down::before, .submit_your_inquiry .left-contact-sec .size-product-des h3, .submit_your_inquiry .left-contact-sec h4 {
    color: #44ce78;
}
.banner .left.mt-2 h3:after, .content-block .learn_ssl_btns, .domainResultsWithProducts .suggested-domains .panel-footer.more-suggestions.text-center a#moreSuggestions, .hostx-container-psw .button03, .label-info, .landing-page .pricing-item .btn.btn-primary.btn-block.btn-signup, .landing-page .pricing-item:hover .price_grid, .prebtn .btn-primary.button03.mt-0:focus, .right-content .continue-row button.btn.btn-default, .right-content .landing-page.ssl .validate_level .item .btn, .submit_your_inquiry .left-contact-sec .size-product-des a.sales-btn {
    background: #44ce78;
}
.landing-page .navs_tab_ssl_sec, .right-content .continue-row button.btn.btn-primary {
    background-color: #043d5f;
}
.landing-page .btn.btn-default.cycle-change.active {
    border-color: #44ce78!important;
    color: #44ce78!important;
}
.right-content .landing-page.sitelock .plans .fa-check, .right-content .landing-page.sitelock .top_banner_sections_ssl h2 {
    color: #44ce78;
}
.right-content .landing-page.sitelock .plan:hover {
    border-color: #44ce78;
}
.right-content .innr_bx_lastsec, .right-content .landing-page.sitelock .plan:hover .new_mothly-text, .right-content .landing-page.sitelock .plans .plan .btn {
    background: #44ce78;
}
.right-content .landing-page.sitelock .plan:hover .new_mothly-text::after {
    border-top: 31px solid #44ce78;
}
.landing-page.sitelock .features .far, .right-content .landing-page.sitelock .features .fas, .right-content .landing-page.sitelock .plan:hover h4 {
    color: #44ce78;
}
.landing-page .pricing-item:hover, .submit_your_inquiry .left-contact-sec .tab-left-contact .tab-active {
    border-color: #44ce78!important;
}
.landing-page .pricing-item:hover .price.price_grid:after {
    border-top: 31px solid #44ce78;
}
.right-content ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li a {
    background: #043d5f;
    border-color: #043d5f!important;
}
.right-content ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active a {
    border-color: #043d5f!important;
    color: #043d5f!important;
}
ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active::after {
    border-top: 9px solid #043d5f;
}
.right-content .continue-row button.btn.btn-default:hover, .right-content .product-green-container .btn-success:hover {
    background-color: #3dc370;
}
.right-content .nav li.active::after {
    border-top: 9px solid #043d5f;
}
.price_table_ssll .btn.btn-block.buy_pricing_btn {
    background: #44ce78!important;
}
.view-cart-items .item .btn-remove-from-cart i, .view-cart-items .item a i {
    color: #043d5f;
}
.domaintransfer .tDomain .btn-transfer:active, .domaintransfer .tDomain .btn-transfer:focus, .modal-footer .modal-submit {
    background: #44ce78;
    border-color: #44ce78;
}
.ssl-certs-all li.wgs-ssl-li-cls h4, .table-container .table td a {
    color: #44ce78;
}
.register-domain-section .right .domain_row .domain_colos .small-button {
    border-color: #44ce78;
    color: #44ce78;
    background: #fff;
}
.register-domain-section .right .domain_row .domain_colos .small-button:hover {
    background: #44ce78;
}
#sliderSpotLight .owl-controls .owl-next::after, #sliderSpotLight .owl-controls .owl-prev::before {
    color: #44ce78;
}
.footer .footer_col .button03 {
    background: #44ce78;
}
.nav_bar h2.tld-list-show-price {
    color: #44ce78!important;
    border-bottom: 2px solid #44ce78!important;
    padding-bottom: 4px;
}
.help-me-choose .btn-primary, .modal-dialog .dismiss-no {
    background-color: #043d5f;
    border-color: #043d5f;
}
.help-me-choose .btn-primary:hover, .modal-dialog .btn.btn-primary.dismiss-yes, .right-content #sslDetail li.wgs-ssl-li-cls .btn.btn-success.btn-block {
    background-color: #44ce78;
    border-color: #44ce78;
}
.modal-dialog .modal-title i {
    border-color: #44ce78;
}
.modal-dialog .modal-header i, .right-content .landing-page.codeguard .strong-green span {
    color: #44ce78;
}
.right-content #howitworks .nav.nav-tabs .active {
    border-color: #44ce78;
}
.right-content #howitworks .nav.nav-tabs .active a {
    color: #44ce78;
}
.right-content .landing-page.codeguard .order-btn {
    background: #44ce78;
}
.landing-page.codeguard .order-imgs embed {
    filter: invert(1);
}
.landing-page.codeguard .feature .icon embed, .landing-page.codeguard .overview-features .container .images-box embed {
    opacity: .8;
    filter: brightness(.1);
}
.right-content .landing-page.sitelockvpn .btn-start, .right-content .landing-page.sitelockvpn .feature.pricing {
    background-color: #043d5f;
}
.right-content .landing-page.sitelockvpn .feature.pricing .price, .right-content .landing-page.sitelockvpn .feature.world span {
    color: #44ce78;
}
.right-content .landing-page.marketgoo .plan .btn-signup {
    background-color: #44ce78;
    border-color: #44ce78;
}
.right-content .landing-page.marketgoo .plan.marketgoo_pro .header h4 {
    color: #44ce78;
}
.right-content .landing-page.marketgoo .plan .header .best-value {
    background: #44ce78;
}
.upgrade .products .product .btn {
    background-color: #44ce78;
}
.upgrade .products .product .header {
    background-color: #043d5f;
}
.right .domain_detail_page .shared-hosting #tabNameservers .alert-info {
    border: solid 1px #44ce78;
}
.right .domain_detail_page .shared-hosting .wgs-alter-info-cls .alert-info {
    border: solid 1px #44ce78;
}
.wgs-question-div .panel-heading {
    border: 2px solid #44ce78;
}
.frequbntly_asked1 .question_answers span svg path {
    fill: #44ce78!important;
}
.frequbntly_asked1 .top h5:before {
    background-color: #44ce78;
}
.loader-wrapper {
    background: rgba(255, 255, 255, .8) url(../../images/layoutthree/loader.gif) 50% 50% no-repeat;
}
.nav_bar .megamenu .register h2 {
    color: #44ce78;
}
#mainNavbarCollapse .container-domain .row {
    background: url(../../images/layoutthree/background-img.png);
    background-size: cover;
}
.ssl-effect-site .ssl-effect-site-row ul li {
    list-style-image: url(../../images/layoutthree/li-about-img.png);
}
.tax-up-btn {
    border: 1px solid #3ac76f;
    background: #44ce78;
}
.tax-up-btn:hover {
    background: #3ac76f;
}
.clientareadetails #subacct-container .btn-check-all {
    background-color: #021b6d;
    border: 1px solid #021b6d;
}
.carouselInnerSideBar li.slick-active button, a.wgsLearnMore {
    background-color: #44ce78;
}
@keyframes shadow-pulse {
    0% {
    box-shadow: 0 0 0 0 rgb(2, 27, 109, .7);
}
100% {
    box-shadow: 0 0 0 20px transparent;
}
}.block-5-btm a {
    color: #fff;
}
#order-standard_cart .addon-promo-container a, .hx-getstart-btn, .hx-tablesearchbar button.btn.btn-secondary:focus, .hx-tablesearchbar button.btn.btn-secondary:hover, .landing-page.ssl .validate_level .purple_color, .landing-page.ssl .validate_level .red_color, .landing-page.ssl .validate_level .yellow_color, .left .button04:hover, .perfect-domain .button03:hover, .pricing_section .price_group .owl-item:nth-child(2) .price_sect h2, .pricing_section .price_group .owl-item:nth-child(4) .price_sect h2, .pricing_section .price_group .price_sect h2, .register-domain-section .right .domain_row .domain_colos:nth-child(1) h2, .ssl-certs-all a.ssl-learn-mr, body #sslDetail #collapseFaq .panel-body p a {
    color: #043d5f;
}
#mainNavbarCollapse .navbar-nav li .menu_top.active, #myHeader #mainNavbarCollapse .navbar-nav .menu_top, #myHeader #mainNavbarCollapse .navbar-nav li:last-child .menu_top:focus, .block2-cont .c-support-btn a:focus, .business-row .left .button03:focus, .button04:focus, .price_grid.price_grid_last1 .price_grid_last p, .price_list .price_grid .button03:focus, .price_list h2, .price_list p, .pricing_section .price_group .price_sect .bottom_sect .button03:focus {
    color: #fff;
}
body nav#myHeader #mainNavbarCollapse .navbar-nav li .menu_top:hover {
    color: #ffffffb3;
}
.dedicated-server .packages a, .frequently-questions .frequently-questions-row .accordion-container-main .card a:before, .has_no_block a, .hx_plans-find a, .hx_webhost-list li span i, .hx_webhost-list li:first-child, .hx_webhosting_plans>.col-md-4:hover .hx_wb-hostprice .txt.value, .hx_webhosting_plans>.col-md-4:nth-child(2) .hx_wb-hostprice .txt.value, .install .right a, .knowledgebaseDiv .kb-rate-article .btn-link, .pricing_section .price_group .owl-item .price_sect h2, .pricing_section .price_group .owl-item:nth-child(3) .price_sect h2, .see-ofr-btn:hover, .ssl-certs-all li.wgs-ssl-li-cls h4, ul.kb-article-details li i {
    color: #44ce78;
}
.pricing_section .price_group .owl-item .price_sect, .pricing_section .price_group .owl-item:nth-child(3) .price_sect {
    border-top: 2px solid #44ce78;
}
.irs-from, .irs-single, .irs-to, .pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect .button03, .pricing_section .price_group .owl-item:nth-child(2) .price_sect ul.list li:before, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect .button03, .pricing_section .price_group .owl-item:nth-child(4) .price_sect ul.list li:before, .secure_col .secure-box .secure-box1 {
    background-color: #043d5f;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect, .pricing_section .price_group .owl-item:nth-child(4) .price_sect, .pricing_section .price_group .price_sect {
    border-top-color: #043d5f;
}
.hx_description ul li::before, .pricing_section .price_group .owl-item:nth-child(3) .price_sect .bottom_sect .button03, .secure_col .secure-box1:nth-child(2) {
    background-color: #44ce78;
}
.hx-tablesearchbar .input-group-append button, .hx_supprt-sec, .submit_your_inquiry .left-contact-sec .size-product-des a.live-chat-con, body .landing-page.ssl .competitive-upgrade-promo, body .new_ssl_sect {
    background-color: #0a4f77;
}
.hx_plans-find a:hover {
    background-color: #55cd82;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect .button03:hover, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect .button03:hover {
    background-color: transparent;
    color: #0a4f77;
    border-color: #0a4f77;
}
.pricing_section .price_group .owl-item:nth-child(3) .price_sect .bottom_sect .button03:hover {
    background-color: transparent;
    color: #44ce78;
    border-color: #44ce78;
}
.md-header.btn-toolbar button.btn-sm.btn.btn-primary, .ryt-contact-sec .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #043d5f;
    border-color: #043d5f;
}
.md-header.btn-toolbar button.btn-sm.btn.btn-primary:focus {
    box-shadow: none;
}
.pricing_section .price_group .owl-item .price_sect .bottom_sect {
    background-color: #44ce781c;
}
.pricing_section .price_group .owl-item:nth-child(2) .price_sect .bottom_sect, .pricing_section .price_group .owl-item:nth-child(4) .price_sect .bottom_sect, .pricing_section .price_group .price_sect .bottom_sect {
    background-color: #043d5f1f;
}
.hx-getstart-btn, .perfect-domain .button03:hover, body .nav_bar .megamenu .learn_btn:active {
    border-color: #043d5f;
}
.features-option2 .features-col:hover .img-box, .get_started, .hx-getstart-btn:hover, .landing-page.ssl .validation-levels.validate_level .item:hover a.btn, body .landing-page .features, body .landing-page.ssl .features, body .landing-page.ssl .validation-levels, body .nav_bar .megamenu .learn_btn:active {
    background-color: #043d5f;
}
#tbl-new-block-tld td.hx-table-price, .hx_buybtn a {
    color: #000;
}
.hx_webhosting_plans>.col-md-4.selected, .hx_webhosting_plans>.col-md-4:hover, .hx_webhosting_plans>.col-md-4:nth-child(2) {
    box-shadow: 0 4px 0 #55cd82 inset;
}
.hx_webhosting_plans>.col-md-4:hover .hx_buybtn a, .hx_webhosting_plans>.col-md-4:nth-child(2) .hx_buybtn a {
    background-color: #55cd82;
    border-color: #55cd82;
}
.hx_buybtn a {
    border-color: #55cd82;
}
body .tab-content .secure_col .secure-box1:nth-child(2) {
    border-color: #55cd82!important;
}
.pricing_section {
    padding-bottom: 0;
}
.frequbntly_asked {
    padding-top: 0;
}
.perfect-domain .button03 {
    border: 1px solid transparent;
}
.hx_plans-find a {
    background-color: #44ce781c;
}
.hx-tablesearchbar button.btn.btn-secondary:focus, .hx-tablesearchbar button.btn.btn-secondary:hover, .perfect-domain .button03:hover, .secure_col .secure-box1:nth-child(2):hover {
    background-color: transparent;
}
.secure_col .secure-box .secure-box1:hover {
    background-color: #00000045;
}
.features-option2 .features-col .img-box svg path {
    fill: #043d5f;
}
.frequbntly_asked {
    padding-top: 60px;
}
.hx-tablesearchbar button.btn.btn-secondary:focus, .hx-tablesearchbar button.btn.btn-secondary:hover, .secure_col .secure-box .secure-box1:hover {
    border: 1px solid #043d5f;
}
div#categoriesBox .slick-next:before, div#categoriesBox .slick-prev:before {
    font-family: fontawesome;
}
div#categoriesBox .slick-next:before {
    content: '\f105'}
div#categoriesBox .slick-prev:before {
    content: '\f104'}
.get_started .button01:focus, .ryt-contact-sec .btn-primary:not(:disabled):not(.disabled):focus, body .btn-danger:not(:disabled):not(.disabled):active:focus, body .nav_bar .megamenu .learn_btn:active, body .nav_bar .megamenu .learn_btn:focus, body .right-content .ssl_frm_content .btn.btn-primary:active, body .right-content .ssl_frm_content .btn.btn-primary:focus, body .tab-content .hx-tablesearchbar button.btn.btn-secondary:active {
    box-shadow: none;
    outline: 0;
}
body .banner .big_col .big_col_in {
    background: linear-gradient(90deg, #44ce78 0, #44ce78 35%, #00748d 100%);
}
.new_hx-banner {
    background: #edfdf3 url(../../images/bnr-graphic.png);
}
.standout-features .featur-stand-bx:hover::after, .standout-features .featur-stand-bx:hover::before, body .banner .big_col .big_col_in {
    background: #44ce78;
}
body #sslDetail.detailed-info .panel-heading {
    border: 2px solid #b5e4c7;
}
.vps-hosting {
    background-color: #043d5f1c;
}
.see-our-story-about .about-metus-row ul li, .wetackcareforupgrade .maintenance-inner-text-row ul li {
    list-style-image: url(../../images/layoutthree/li-about-img.png);
}
.nav_bar .megamenu .btn-danger:not(:disabled):not(.disabled):active:focus, .nav_bar .megamenu .learn_btn, .pricing_section .price_group .price_sect .bottom_sect .button03:hover {
    border-color: #44ce78;
}
.nav_bar .megamenu .btn-danger:focus {
    border-top-color: #44ce78;
}
#order-standard_cart a.btn.btn-default, body .landing-page .get-started .btn-order-now {
    background: #44ce78;
    border-color: #44ce78;
}
#myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a, #myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a:hover, body .landing-page.codeguard .pricing, body .landing-page.ox .header, body .landing-page.ox .pricing th, body .landing-page.sitelock .emergency, body .landing-page.sitelock .plans, body .landing-page.sitelockvpn .btn-signup.highlight1, body .landing-page.sitelockvpn .btn-signup.highlight2, body .landing-page.sitelockvpn .hero {
    background-color: #043d5f;
}
.landing-page.sitelockvpn .feature.pricing .pricing-box .label-info {
    background-color: #44ce78;
}
.right-content .landing-page.sitelockvpn .btn-start {
    background-color: #165d88;
}
#modalBillingAddress .wgs-btn-cn, #sslDetail .row.help-me-choose .btn-primary, .inner-content-area .form-group .btn-primary, .landing-page.ox .header .btn-success, .landing-page.ox .pricing .btn-primary, .panel .ssl-certs-all .btn-success, .promo-banner.weebly .btn {
    border-color: #043d5f;
    background-color: #043d5f;
}
.landing-page #pricing .btn-group.choose-product .btn:first-child.active, .landing-page #pricing .btn-group.choose-product .btn:last-child.active {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.landing-page #pricing .btn-group.choose-product .btn:first-child, .landing-page #pricing .btn-group.choose-product .btn:last-child {
    background-color: #08649a;
    border-color: #08649a;
}
#frmManagePaymentMethod a.btn.btn-default.btn-sm, .clientarea.account-paymentmethods .right a.btn.btn-primary, .landing-page.ox .header .btn-success {
    border-color: #043d5f;
}
#myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a, .modal-footer .btn-c:hover {
    color: #fff;
}
body #myHeader #mainNavbarCollapse .navbar-nav .menu-last-btn a:hover {
    color: #ffffffb3;
}
.clientareaproductdetails .nav-tabs li.active a, .hx_domain-header h3, .landing-page.sitelock .features .fas, .pricing_section .price_group .price_sect .bottom_sect .button03:hover, .unavail-msg span, body .landing-page.sitelock .features .far {
    color: #44ce78;
}
#modalBillingAddress .wgs-btn-sv, #tbl-new-block-tld .add-to-cart-btn.removeBtnCat, .fieldgroup-auxfields button#btnSubmit, .hx_domain-header h3 span, .inner-content-area .form-group .btn-default, .tab-content .secure_col .secure-box1:nth-child(2), .viewticket .up-r-btn button.btn.btn-default.btn-block {
    background-color: #44ce78;
}
#tbl-new-block-tld .hx_domain-available .hx_domaintxt span, .clientareaproductdetails .tab-content .product-details .request, .nav_bar .wgs-new-mega-menu .megamenu .register h2.tld-list-show {
    color: #043d5f;
}
.clientareaproductdetails .nav-tabs li.active a, .nav_bar .megamenu .drow_menu a:hover, .right .domain_detail_page .shared-hosting .manage-domain-box .active-domain p.pending-status {
    color: #44ce78!important;
}
#modalBillingAddress .wgs-btn-sv, .fieldgroup-auxfields button#btnSubmit, .hx_domain, .inner-content-area .form-group .btn-default {
    border-color: #44ce78;
}
#frmManagePaymentMethod a.btn.btn-default.btn-sm, #tbl-new-block-tld .hx_domain-available .hx_domaintxt span i, #tbl-new-block-tld button.add-to-cart-btn.addhostingbtn, .business-btn, .clientarea.account-paymentmethods .right a.btn.btn-primary, .getstart-business-btn, body .landing-page .get-started {
    background-color: #043d5f;
}
.getstart-business-btn:focus {
    color: #feebdc;
}
.business-btn:hover {
    border: 1px solid #043d5f;
    color: #043d5f;
}
.business-btn:focus, .new-mega-menu-right-bar li a, .wgs-new-mega-menu .fa-home, .wid-level .wgs-a-btn a {
    color: #fff;
}
.hx-business-banner {
    background: #d7f5e3 url(../../images/business-banner2.png) no-repeat;
    background-size: cover;
    padding: 85px 0 280px;
    clear: both;
}
.new_hx-business-banner {
    background-color: #d7f5e3;
}
.banner .banner2 .banner_list li a, .banner .banner2 h1, .banner .banner2 h6, nav#myHeader div#languageList a.dropdown-item {
    color: #000;
}
.clientareaproductdetails .nav-tabs li.active a {
    box-shadow: 0 4px 0 #44ce78 inset;
}
.clientareadetails .btn-danger, .clientareadetails .btn-danger:hover, .clientareadetails .btn-danger:not(:disabled):not(.disabled):active {
    background-color: #212121;
    border-color: #212121;
}
.primary-menu-toggle .bar1, .primary-menu-toggle .bar2, .primary-menu-toggle .bar3, .secondary-menu-toggle .bar1, .secondary-menu-toggle .bar2, .secondary-menu-toggle .bar3 {
    background: #fff;
}
.announcements .view_ticket_box .top::after, .view_ticket_col .shared-hosting .view_ticket_box .top::after {
    color: #44ce78;
}
.kb-rate-article .btn-lg, .kb-rate-article .btn-lg:hover {
    color: #44ce78;
    text-decoration: none;
}
div#modalAjax .panel-primary>.panel-heading {
    background-color: #043d5f;
    border-color: #043d5f;
}
button#btnAddUpSell {
    background-color: #44ce78;
    border-color: #44ce78;
}
#pricing .btn.btn-default.cycle-change.active {
    border-top: 3px solid #44ce78!important;
    color: #44ce78!important;
}
body .store-promoted-product .btn, body .store-promoted-product .btn-success:not(:disabled):not(.disabled):active, body .store-promoted-product .btn:focus, body .store-promoted-product .btn:hover {
    background-color: #44ce78;
    border-color: #44ce78;
    color: #fff;
}
#order-standard_cart .completeOrder a.btn.btn-default {
    background-color: #44ce78;
    border-color: #44ce78;
}
.hx-client-designation {
    color: #44ce78;
}
.hx-client-url {
    color: #043d5f;
}
.wgsTestimonialCrouselCustom button, .wgsTestimonialCrouselCustomOneSlide button {
    background-color: #043d5f;
}
body form#frmAddToCart ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li.active a {
    border-color: #043d5f!important;
}
form#frmAddToCart ul.nav.nav-tabs.store-domain-tabs.tab-store-ul li a {
    background-color: #043d5f;
    border-bottom: 3px solid #043d5f!important;
}
.completeOrder .order-confirmation span {
    color: #043d5f;
}
/* 12-april-2022 start*/
.top-menu-li-header .icon-img {
    filter: unset;
}
.list-menu .drop-down-menu .bottom-sec a{
	color: #fff;
	background: #6cd895;
}
.bottom-sec{
	background: #44ce78;
}
.left-list-inner.active .icon-sec {
    background: #44ce78;
}
.left-list-inner.active {
    background: #edfdf3;
}
.icon-sec {
    background-color: #ecfdf3;
}
.top-menu-li-header .icon-img {
    filter: invert(0.8);
}
.top-menu-li-header .bottom-sec .icon-img{
	filter: unset;
}
.bottom-sec h5{
	color: #fff;
}
.list-menu .drop-down-menu .bottom-sec a{
	box-shadow: none;
}
.list-menu li a, .counrty-inner a{
	color: #fff;
}
.counrty-inner .country-dropdown a.dropdown-item {
    color: #555;
}
.icon-img-new i {
    color: rgb(0 0 0 / 80%);
}
.left-list-inner.active .icon-img-new i{
	color:#fff;
}
/*header finish*/
.tabs-sec .nav-link{
	border-right: 2px solid #021b6d;
    background-color: #021b6d;
    border-bottom: 3px solid #021b6d !important;
}
.right-content .tabs-sec .nav-item.active:after{
	border-top:9px solid #021b6d;
}
.compare-blk-btn{
	background-color: #021b6d;
}
.faq .card-header .collapsed:before{
	color: #021b6d;
}
.faq .card-header a:after{
	color: #021b6d;
}
.wgs-top-menu-latest-clientarea .primary-menu-toggle .bar1, .wgs-top-menu-latest-clientarea .primary-menu-toggle .bar2, .wgs-top-menu-latest-clientarea .primary-menu-toggle .bar3 {
    background: #fff;
}
.wgs-top-menu-latest-clientarea a.home-logo-mega-menu{
	color: #fff;
}
.wgs-top-menu-latest-clientarea .new-mega-menu-right-bar li a {
    color: #fff;
}
.ddnavbar .submenu i{
	color: #053d5f;
}
.main-sate .upper-sec-satelite .satelitetop-detail p:after{
	background: #053d5f;
}
.main-sate .upper-sec-satelite .satelitetop-detail .active{
	background: #053d5f;
}
/* 12-april-2022 end*/
@media only screen and (max-width:706px) {
    .banner {
    background-color: #043d5f;
}
.banner .banner2 .banner_list li a, .banner .banner2 h1, .banner .banner2 h6 {
    color: #fff;
}
}
@media(max-width:991px) {
    .primary-menu-toggle .bar1, .primary-menu-toggle .bar2, .primary-menu-toggle .bar3, .secondary-menu-toggle .bar1, .secondary-menu-toggle .bar2, .secondary-menu-toggle .bar3 {
    background: #fff;
}
.new-mega-menu-right-bar li a, .wgs-new-mega-menu .fa-home {
    color: #212121;
}
.active-mobile .right-sec .top-menu-ul-header-latest{
	background: #44ce78;
}
.nav_bar.navbar-expand-lg.active-mobile .right-sec .top-menu-li-header {
    border-bottom: 1px solid #64df92;
}
}