.ca-content-table-bx table td{
    padding: 10px;
    border-bottom: none;
}
.clientareaproductdetails .tab-content {
    float: unset;
}
#clientAreaFTPmang .status {
    border: none;
    background-color: unset;

}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.75rem !important;
}

.Access-cards-wrapper ul li.active a {
    border-bottom: none !important;
}
.new-client-area-box a:hover {
    border-bottom:none !important;
}
.modal-dialog .modal-footer {
    display: flex !important;
}
.clientareaproductdetails .nav-tabs li a:hover, .clientareaproductdetails .nav-tabs li.active a  {
    box-shadow: 0 4px 0 #f82f3c;
}
.clientareaproductdetails .nav-tabs {
    background: none;
}
.module-client-area {
    font-family: "Open Sans",sans-serif;
}

.clientareaproductdetails .nav-tabs li a {
    padding: 5px 5px;

}

.dataTables_wrapper .dataTables_info {
    background-color: unset;
}

.modal-dialog {
    transform: translateX(-50%) !important;
    left: 50%;
    margin-left: 0;
    top: 20% !important;
}
#getFirewallRules.modal .modal-dialog {
    max-width: 1140px;
    top: 153px;
}
@media (max-width: 767px){
    .modal-dialog {
        width: 97%;
    }
}
@media only screen and (max-width: 1024px) {
    @media (max-width: 480px) {
        .clientareaproductdetails .tab-content .tab-pane a.btn.btn-default, .clientareaproductdetails .tab-content .tab-pane input {
            width: unset;
            margin-bottom: 5px;
        }
    }
}